@use "../global" as *;

/* ===============================================
# page
=============================================== */

#contact {
    h4 {
        z-index: 3;
    }
  .top-bg {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-mask-image: url("../images/svg/wave-top-mv.svg");
    mask-image: url("../images/svg/wave-top-mv.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% auto;
    mask-size: 100% auto;

    -webkit-mask-position: center top;
    mask-position: center top;

    @media (min-width: 600px) {
      top: 120px;
    }

    @media (min-width: 1240px) {
      top: 160px;

      -webkit-mask-repeat: repeat-x;
      mask-repeat: repeat-x;

      -webkit-mask-size: 100% auto;
      mask-size: 100% auto;
    }
  }

  #tell-container {
    position: relative;
    width: 100%;
    padding: 0 16px;
    z-index: 2;

    h3 {
      padding-top: 4px;      
      border-bottom: 1px solid $text;
    }

    .tell-outer {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tell-brock {
            padding: 12px;
            width: 50%;
            border-bottom: 1px dashed $text;

            display: flex;
            flex-direction: column;
            align-items: center;

            .tell-title {
                margin-bottom: 4px;
                border-bottom: 1px solid $green-2nd;
            }
            p {
                text-align: center;

            }
            // tell-title

            .tell-flex {
                display: flex;
                align-items: center;

            }
            // tell-flex

        }
        // tell-brock


    }
    // tell-outer
  }
  // #tell-container
}

// #contact
