@use "../global" as *;

/* ===============================================
# page
=============================================== */
#plus {
  padding-top: 80px; //headerの分
  background: $bg-main;

  .service-head {
    margin: 0 auto 12px;
    padding: 8px 16px;
    width: fit-content;
    background: $white;
    font-size: 1.5rem;
    border-radius: 24px;
  }

  #plus-top {
    // background: $green;

    .plus-container {
      margin: 0 auto;
      padding-bottom: 12px;
      width: 100%;

      @media (min-width: 376px) {
        max-width: 500px;
      }

      @media (min-width: 500px) {
        max-width: 600px;
      }

      @media (min-width: 785px) {
        max-width: 1000px;
      }

      .plus-frame {
        margin: 0 auto;
        margin-bottom: 100px;
        width: calc(100% - 24px);
        position: relative;

        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: auto;
        }

        .cc-plus {
          padding: 12px 28px;
          position: absolute;
          top: 96%;
          left: 50%;
          transform: translateX(-50%);
          white-space: nowrap;
          width: fit-content;
          border-radius: 24px;
          background: $green-2nd;

          @media (min-width: 500px) {
            top: 92%;
            left: 20%;
            padding: 18px 28px;
          }

          p {
            font-size: 1.125em;
            color: $white;
          }
        }

        // .cc-plus
      }

      // .plus-frame

      .plus-2nd {
        @media (min-width: 600px) {
          padding-top: 0;
        }
      }
    }

    // .plus-container
  }

  // #plus

  /* ========事業所方針======= */

  #policy {
    background: $orange;

    .policy-container {
      margin: 0 auto;
      padding: 12px 0 20px;
      width: 100%;

      .policy-outer {
        margin: 0 auto;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 376px) {
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 900px;
        }

        .policy-brock {
          max-width: 240px;
          height: auto;
        }

        // .policy-brock
      }

      // .policy-outer
    }

    // .policy-container
  }

  // #policy

  /* ========1日のスケジュール======= */

  #schedule {
    background: $pink;

    .timeline-container {
      margin: 0 auto;
      padding: 12px 0 20px;
      width: 100%;
      max-width: 600px;

      .timeline {
        margin-left: 50px;
        padding-top: 20px;
        position: relative;
        border-left: 2px solid $pink-2nd;

        .timeline-brock {
          margin-bottom: 20px;
          padding-left: 30px;
          position: relative;
          display: flex;
          flex-direction: column;

          &::before {
            content: "";
            position: absolute;
            left: -21px;
            top: 0;
            width: 40px;
            height: 40px;
            background-size: contain;
            border-radius: 50%;
          }

          &:nth-child(1)::before {
            background-image: url("../images/icon/9000.svg");
          }

          &:nth-child(2)::before {
            background-image: url("../images/icon/1000.svg");
          }

          &:nth-child(3)::before {
            background-image: url("../images/icon/1200.svg");
          }

          &:nth-child(4)::before {
            background-image: url("../images/icon/1300.svg");
          }

          &:nth-child(5)::before {
            background-image: url("../images/icon/1500.svg");
          }

          // 時計アイコン

          .time {
            padding-bottom: 2px;
            font-size: 1.5rem;
            letter-spacing: 1px;
            border-bottom: 2px dotted $pink-2nd;
            width: fit-content;
          }

          img {
            margin: 0 auto;
            display: block;
            padding-top: 8px;
            max-width: 240px;
            height: auto;
          }

          .timeline-text {
            padding: 12px 20px 4px;
            line-height: 1.5;
          }
        }

        // .timeline-brock
      }

      // .timeline
    }

    // .timeline-container
  }

  // schedule

  /* ========ご利用の流れ======= */

  #flow {
    background: $blue;

    .flow-container {
      margin: 0 auto;
      padding: 20px 0;
      width: 100%;
      max-width: 520px;
      @media (min-width: 1024px) {
        max-width: 1100px;
      }

      .flow-outer {
        margin: 20px auto 30px;
        padding: 0 20px 0 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 16px;

        @media (min-width: 1024px) {
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: stretch;
        }
        @media (min-width: 1240px) {
          gap: 20px;
        }

        .flow-brock {
          display: flex;
          width: 100%;
          position: relative;
          @media (min-width: 1024px) {
            width: 25%;
            max-width: 260px;
            flex: 1;
          }

          .step-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -28px;
            width: 80px;
            height: 80px;
            z-index: 2;
            @media (min-width: 1024px) {
              top: -20px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          .flow-card {
            width: 100%;
            background: $white;
            border-radius: 24px;
            padding: 20px 20px 20px 48px;
            box-shadow: 2px 4px 4px 0 $gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @media (min-width: 1024px) {
              padding: 64px 20px 20px 20px;
              justify-content: start;
            }
            
            .flow-title {
              font-size: 1.5rem;
              padding-bottom: 8px;
              padding-right: 16px;
              font-weight: bold;
              text-align: center;
              @media (min-width: 1024px) {
                padding-bottom: 16px;
                padding-right: 0px;
              }
            }
            // .flow-title

            p {
              line-height: 1.5;
              padding-left: 4px;
            }

            .step1 {
              color: $green-3nd;
            }
            .step2 {
              color: $orange-3nd;
            }
            .step3 {
              color: $pink-3nd;
            }
            .step4 {
              color: $blue-3nd;
            }
          }

          // flow-card
        }

        // flow-brock
      }

      // flow-outer

      .flow-2nd-outer {
        margin: 40px auto 0;
        padding: 12px 16px;
        max-width: calc(100% - 12px);

        position: relative;
        background: $blue-4nd;
        border-radius: 4px;
        box-shadow: 0 4px 10px $gray;

        @media (min-width: 786px) {
          margin: 0 auto;
           width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          top: -28px;
          right: 20px;
          width: 60px;
          height: 60px;
          background-image: url("../images/icon/pin.svg");
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 5;
        }

        ul {
          li {
            padding: 20px 0;
            border-bottom: 1px dashed $blue-3nd;

            &:last-child {
              border-bottom: none;
            }

            .flow-2nd-title {
              text-align: center;
              font-size: 1.125rem;
              font-weight: bold;
              padding-bottom: 8px;
            }

            p {
              font-size: 1rem;
              line-height: 1.6;
            }
            span {
              display: block;
              font-size: 0.875rem;
              margin-top: 4px;
            }
          }
        }
      }
      // .flow-2nd-outer

      .flow-contact {
        margin: 0 auto;
        width: 100%;
        max-width: 440px;

        .flow-contact-outer {
          margin: 20px;
          background: $white;
          border-radius: 24px;
          padding: 20px;
          box-shadow: 3px 4px 0 0 $blue-3nd;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h4 {
            font-size: 1.25rem;
            font-weight: bold;
            padding-bottom: 8px;
          }

          .disc {
            font-size: 1rem;
            padding-bottom: 8px;
          }

          .flow-contact-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .tell {
              display: flex;
              justify-content: center;
              gap: 4px;

              .tell-number {
                font-size: 1.375rem;
              }
            }
            span {
              display: block;
              font-size: 0.875rem;
              padding-bottom: 8px;
            }
          }
          // flow-contact-inner
        }
        // flow-contact-outer
      }
      // flow-container
    }
    // flow-contact
  }

  // #flow

  /* =======アドレス======= */

  #address {
    background: $yellow;

    .address-container {
      padding: 20px 0;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;

      .address-outer {
        padding: 8px 20px;
        margin: 0 auto;
        width: 100%;

        ul {
          li {
            padding: 10px 0;
            display: flex;
            align-items: center;
            border-bottom: 1px dashed $text;

            div {
              width: 100px;
            }
            p {
              width: 250px;
            }
          }
          // li
        }

        // ul
      }
      // .address-container
    }
    // address-container

    .map {
      position: relative;
      width: 100%;
      padding-top: 56.25%; /* 16:9のアスペクト比 */
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    // map

    .access {
      padding: 8px 20px;

      .access-title {
        font-size: 1.25rem;
        padding-bottom: 8px;
        border-bottom: 1px solid $text;
      }

      .access-brock {
        .access-tool {
          margin: 8px;
          padding-bottom: 12px;
          border-bottom: 1px dashed $text;
        }
        // .access-tool

        .access-01 {
          padding: 4px 0;
        }
        .access-02 {
          padding: 4px 0 4px 1rem;
        }
        .access-03 {
          padding: 0px 0 4px 1.75rem;

          p {
            padding-top: 8px;

            span {
              border-bottom: 1px solid $yellow-2nd;
            }
          }
        }
      }
      // .access-brock
      .access-car {
        padding-top: 12px;
      }
    }
    // .access
  }

  // #address
}

// #plus
