@use "../global" as *;

/*  ===============================================
#  page
===============================================  */
#ponte-pw {

  .service-head {
    margin: 0 auto 12px;
    padding: 8px 16px;
    width: fit-content;
    background: $white;
    font-size: 1.5rem;
    border-radius: 24px;
  }

  #pw-top {
    position: relative;
    width: 100%;
    aspect-ratio: 1920 / 600;

    background-image: url(../images/svg/wave-top-blue.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 32vw;

    @media (min-width: 786px) {
      background-position: center 300px;
    }

    .pw-container {
      margin: 0 auto;
      width: 100%;

      .pw-frame {
        margin: 0 auto;
        max-width: 1200px;
        width: calc(100% - 24px);

        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: auto;
          z-index: 2;
        }

        .cc-pw {
          position: relative;
          margin: -2% auto 0;
          padding: 12px 28px;
          width: fit-content;
          border-radius: 24px;
          background: $blue-2nd;
          z-index: 3;

          .pc-br {
            display: none;
          }

          @media (min-width: 600px) {
            margin-top: -4%;
            margin-left: 2%;
            padding: 18px 28px;
            .pc-br {
              display: block;
            }
            .sp-br {
              display: none;
            }
          }

          p {
            font-size: 1.125em;
            color: $white;
          }
        }

        //  .cc-pw
      }

      //  .pw-frame

      .div-blue {
        background: $blue;
        width: 100%;
      }
    }

    //  .pw-container
  }

  //  #pw


  /*  ========ご利用の流れ=======  */

  #flow {
    background: $pink;

    .flow-container {
      margin: 0 auto;
      padding-bottom: 20px;
      width: 100%;

      .flow-outer {
        margin: 36px auto 30px;
        padding: 0 20px 0 30px;
        max-width: 520px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 16px;

        @media (min-width: 1024px) {
          max-width: 1100px;

          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: stretch;
        }
        @media (min-width: 1240px) {
          flex-wrap: wrap;
          gap: 32px;
        }

        .flow-brock {
          display: flex;
          width: 100%;
          position: relative;
          @media (min-width: 1024px) {
            max-width: 260px;
          }

          .step-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -28px;
            width: 80px;
            height: 80px;
            z-index: 2;
            @media (min-width: 1024px) {
              top: -20px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          .flow-card {
            width: 100%;
            background: $white;
            border-radius: 24px;
            padding: 12px 20px 20px 48px;
            box-shadow: 2px 4px 4px 0 $gray;
            line-height: 1.8;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (min-width: 1024px) {
              padding: 56px 12px 56px 12px;
              min-height: 320px;
              justify-content: start;
            }

            .flow-title {
              font-size: 1.5rem;
              padding-right: 16px;
              font-weight: bold;
              text-align: center;
              @media (min-width: 1024px) {
                padding-bottom: 4px;
                padding-right: 0px;
              }
            }
            //  .flow-title

            p {
              line-height: 1.7;
              padding-left: 4px;
              .pc-br {
                display: none;
                @media (min-width: 1024px) {
                  display: block;
                }
              }
            }

            .step1 {
              color: $green-3rd;
            }
            .step2 {
              color: $orange-3rd;
            }
            .step3 {
              color: $pink-3rd;
            }
            .step4 {
              color: $blue-3rd;
            }
            .step5 {
              color: $yellow-2nd;
            }
            .step6 {
              color: $green-3rd;
            }
          }

          //  flow-card
        }

        //  flow-brock
      }

      //  flow-outer

      /*  ========ご利用の流れ詳細=======  */

      .flow-2nd-outer {
        margin: 40px 0;
        padding: 12px 16px;
        width: auto;

        position: relative;
        background: $pink-4th;
        border-radius: 4px;
        box-shadow: 0 4px 10px -4px $gray;

        @media (min-width: 786px) {
          margin: 40px auto 0;
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          top: -28px;
          right: 20px;
          width: 60px;
          height: 60px;
          background-image: url("../images/icon/pin_pink.svg");
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 5;
          @media (min-width: 1024px) {
            left: 50%;
            transform: translateX(480px);
          }
        }

        ul {
          margin: 0 auto;
          max-width: 780px;
          li {
            padding: 20px 0;
            border-bottom: 1px dashed $pink-3rd;

            display: flex;
            flex-direction: column;

            @media (min-width: 1024px) {
              flex-direction: row;
            }

            &:last-child {
              border-bottom: none;
            }

            .flow-2nd-title {
              padding-bottom: 8px;
              min-width: 160px;
              font-size: 1.125rem;
              font-weight: bold;
              text-align: center;
              @media (min-width: 1024px) {
                text-align: left;
              }
            }

            p {
              font-size: 1rem;
              line-height: 1.6;
              span {
                display: block;
                font-size: 0.875rem;
                margin-top: 4px;
              }
            }
          }
        }
      }
      //  .flow-2nd-outer

      /*  ========お気軽にご相談ください=======  */

      .flow-contact {
        margin: 32px auto 20px;
        max-width: 360px;
        background: $white;
        border-radius: 24px;
        padding: 20px 32px;
        box-shadow: 3px 4px 0 0 $pink-3rd;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 786px) {
          max-width: 780px;
          padding: 28px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          flex: 1;
        }

        h4 {
          font-size: 1.25rem;
          font-weight: bold;
          padding-bottom: 8px;

          @media (min-width: 786px) {
            order: 2;
          }
        }

        .disc {
          font-size: 1rem;
          padding-bottom: 8px;
          @media (min-width: 786px) {
            order: 1;
            width: 100%;
            padding-bottom: 12px;
          }
        }

        .flow-contact-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          @media (min-width: 786px) {
            order: 3;
          }

          .tell {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            .tell-number {
              font-size: 1.6rem;
              padding-bottom: 4px;
            }
          }

          span {
            display: block;
            font-size: 0.875rem;
            padding-bottom: 10px;
          }
        }
        //  .flow-contact-inner

        .btn {
          //  width:;
          @media (min-width: 786px) {
            order: 4;
          }
        }
        h4,
        .flow-contact-inner,
        .btn {
          flex: 1;
          text-align: center;
        }
      }
      //  .flow-contact
    }
    //  .flow-container
  }

  //  #flow

  /*  =======アドレス=======  */

  #address {
    background: $yellow;

    .address-container {
      padding: 20px 0;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      @media (min-width: 786px) {
        max-width: 780px;
      }

      .address-outer {
        padding: 8px 20px;
        margin: 0 auto;
        width: 100%;

        @media (min-width: 786px) {
          max-width: 600px;
        }

        ul {
          li {
            padding: 10px 0;
            width: 100%;
            display: flex;
            align-items: flex-start;
            border-bottom: 1px dashed $text;

            div {
              width: 100px;
              flex-shrink: 0;
            }
            .address-tell {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              flex: 1;
              gap: 2px;
              @media (min-width: 786px) {
                flex-direction: row;
                align-items: center;
                gap: 20px;
                width: 100%;
              }
            }
            p {
            }
          }
          //  li
        }

        //  ul
      }
      //  .address-container
    }
    //  address-container

    .map {
      position: relative;
      margin: 20px auto;
      width: 100%;
      padding-top: 56.25%; /*  16:9のアスペクト比  */
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    //  map

    .access {
      padding: 8px 0px;

      .access-title {
        font-size: 1.25rem;
        padding-bottom: 8px;
        border-bottom: 1px solid $text;
      }

      .access-brock {
        .access-tool {
          margin: 8px;
          padding-bottom: 12px;
          border-bottom: 1px dashed $text;
        }
        //  .access-tool

        .access-01 {
          padding: 4px 0;
        }
        .access-02 {
          padding: 4px 0 4px;
        }
        .access-03 {
          padding: 0px 0 4px 1rem;

          p {
            padding-top: 8px;

            span {
              border-bottom: 1px solid $yellow-2nd;
            }
          }
        }
      }
      //  .access-brock

      .access-car {
        padding: 12px;
      }
    }
    //  .access
  }

  //  #address
}

//  #plus
