@use "../global" as *;

/* ===============================================
# page privacy
=============================================== */

#privacy {
  position: relative;
  width: 100%;

  h4 {
    margin: 0 auto 12px;
    padding: 8px 16px;
    width: fit-content;
    background: $white;
    font-size: 1.5rem;
    border-radius: 24px;
  }

  .wave-top {
    max-height: 80px;
  }

  #privacy-policy {
    position: relative;
    width: 100%;
    padding: 12px 16px 40px;
    z-index: 2;

    h3 {
      padding-top: 0;
      padding-bottom: 12px;
      margin-bottom: 4px;
      border-bottom: 1px solid $text;
    }

    .privacy-outer {
      margin: 0 auto;
      padding: 16px 16px 40px;
      font-size: 1rem;
      width: 100%;
      max-width: 880px;

      border-radius: 24px;
      background: rgba($white, 0.8);

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;

      @media (min-width: 600px) {
      padding: 32px 28px 40px;
      }


      .privacy-block {
        padding-bottom: 40px;
        line-height: 1.5;
      }
    }
    // privacy-outer
  }
  // #privacy-policy
}
// #privacy
