@use "../global" as *;

/* ===============================================
# page
=============================================== */
.service_page #policy.bg-pink {
  background: $pink;
}
.service_page #schedule.bg-blue {
  background: $blue;
}
.service_page #address.bg-green {
  background: $green;
}

.service_page
  #schedule
  .timeline-container
  .timeline
  .timeline-block:nth-child(1)::before {
  background-image: url(../images/icon/1000.svg);
}
.service_page
  #schedule
  .timeline-container
  .timeline
  .timeline-block:nth-child(2)::before {
  background-image: url(../images/icon/1100.svg);
}
.service_page
  #schedule
  .timeline-container
  .timeline
  .timeline-block:nth-child(5)::before {
  background-image: url(../images/icon/1500.svg);
}

#sakura {
  /*  ========キャッチコピー=======  */
  #top-mv {
    .mv-container {
      .mv-frame {
        .cc {
          padding: 12px 20px;
          p {
            .pc-br {
              display: none;

              @media (min-width: 600px) {
                display: block;
              }
            }

            .sp-br {
              display: block;

              @media (min-width: 600px) {
                display: none;
              }
            }
          }

          // p
        }
      }
      // .mv-frame

      .cc-outer {
        .cc-text {
          p {
            .pc-br {
              display: none;

              @media (min-width: 600px) {
                display: block;
              }
            }

            .sp-br {
              display: block;

              @media (min-width: 600px) {
                display: none;
              }
            }
          }

          // p
        }
      }
      // .cc-outer
    }
    // .mv-container
  }
  // #top-mv

  /*  ========1日のスケジュール=======  */
  #schedule {
    .timeline-container {
      .timeline {
        border-left: 2px solid $blue-3rd;

        .timeline-block {
          .time {
            border-bottom: 1px dashed $blue-2nd;
          }
        }
      }
    }
  }

  /*  ========ご利用の流れ=======  */

  .cc {
  }

  // cc

  .circle {
    margin: 0 auto 32px;
    width: 100%;
    max-width: 313px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      max-width: 952px;
    }
  }

  .circle-item {
    width: 95px;
    height: 95px;
    background-color: #e0f2ff;
    border-radius: 50%;

    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    // align-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1.5;
    @media (min-width: 1024px) {
      width: 142px;
      height: 142px;
      font-size: 1.5rem;
    }
  }

  .back {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }

    .back_circle {
      font-size: 1rem;
      position: relative;
      display: inline-block;
      padding: 0.4em 0.4em;
      z-index: 0;
      @media (min-width: 1024px) {
        font-size: 1.5rem;
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;

        mask-image: url(../images/svg/h2-bg.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 70% auto;

        -webkit-mask-image: url(../images/svg/h2-bg.svg);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: 70% auto;
      }

      &--01::before {
        background: $green-3rd;
      }

      &--02::before {
        background: $orange-3rd;
      }

      &--03::before {
        background: $pink-3rd;
      }
    }

    br {
      display: block;

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }

  .flow-plus {
    @media (min-width: 1024px) {
      max-width: 100% !important;
      flex-wrap: nowrap;
      row-gap: 28px !important;
    }
  }
  .flow-outer {
    .flow-block {
      .flow-card {
        @media (min-width: 1024px) {
          padding: 56px 12px 32px 12px;
          min-height: 260px;
        }

        .pc-br {
          display: none;

          @media (min-width: 1024px) {
            display: block;
            width: 100%;
            background: $blue;
          }
        }
      }

      //  flow-card
    }
    // flow-block
  }
  // flow-outer

  /*  ========ご利用の流れ詳細=======  */

  .bg-yellow-4th {
    &::after {
      content: "";

      background-image: url("../images/icon/pin_yellow.svg");

      @media (min-width: 1024px) {
        left: 50%;
        transform: translateX(460px);
      }
    }

    ul {
      .flow-li-plus {
        border-bottom: 1px dashed $yellow-3rd;
      }
    }
  }

  //  .flow-2nd-outer

  /*  ========お気軽にご相談ください=======  */

  .flow-contact-plus {
    box-shadow: 3px 4px 0 0 $yellow-3rd;
  }

  //  .flow-contact

  /*  ========アクセス=======  */

  #address {
    .access {
      .access-block {
        .access-03 {
          p {
            span {
              border-bottom: 1px solid $green-2nd;
            }
          }
        }
      }
    }
  }
}
// #sakura
