@use "../global" as *;
/* ===============================================
# 投稿記事ページ
=============================================== */

.deta-outer-single {
  display: flex;
  flex-direction: column-reverse;

  .deta {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .category {
    padding: 0 8px;
    margin-bottom: 16px;

    width: fit-content;
    height: 20px;
    line-height: 20px;

    color: $white;
    font-size: 0.75rem;
    background: $orange-2nd;
    border-radius: 8px;
  }
}

// .deta-outer-single

.title-single {
  margin-bottom: 10px;
  padding-bottom: 6px;
  font-size: 1.125rem;
  border-bottom: 1px solid $text;
  @media (min-width: 600px) {
    font-size: 1.375rem;
  }
}

.text-single {
  font-size: 1rem;
  
  @media (min-width: 600px) {
    font-size: 1.125rem;
    margin-bottom: 16px;
  }

  p {
    line-height: 1.5;
  }
}


.news-pagination {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;

    .btn {
        padding: 4px 20px;
        text-align: center;
    }
  }

 .no-post {
    opacity: 0.4;
    pointer-events: none;

}
  
  .news-back {
    .btn {
        width: 160px;
        font-size: 1rem;

    }

  }
