@use "../global" as *;
/* ===============================================
# topページ
=============================================== */

#top {
  padding-top: 80px; //headerの分
  background: $bg-main;

  #top-container {
    position: relative;
    width: 100%;

    .top-bg {
      position: absolute;
      top: 30vw;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/svg/wave-kv-sp.svg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100% auto;
      z-index: 1;

      @media (min-width: 420px) {
        top: 8vw;
      }

      @media (min-width: 500px) {
        top: 4vw;
      }

      @media (min-width: 600px) {
        background-image: url("../images/svg/wave-kv-pc.svg");
        background-position: center top;
        background-size: 1200px auto;
        top: 13vw;
      }

      @media (min-width: 700px) {
        top: 20vw;
      }

      @media (min-width: 786px) {
        background-size: 1400px auto;
        top: 18vw;
      }

      @media (min-width: 1024px) {
        background-size: 1800px auto;
        top: 160px;
      }

      @media (min-width: 1240px) {
        top: 200px;
        background-repeat: repeat-x;
      }
    }

    #kv {
      margin: 0 auto;
      width: 100%;
      position: relative;
      z-index: 2;

      @media (min-width: 376px) {
        max-width: 500px;
      }

      @media (min-width: 500px) {
        max-width: 700px;
      }

      @media (min-width: 785px) {
        max-width: 1000px;
      }

      @media (min-width: 1024px) {
        max-width: 1200px;
      }

      .kv-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        z-index: 3;

        .kv-photo {
          position: relative; //吹き出しの基準

          margin: 0 auto;
          width: 100%;
          height: auto;

          img {
            display: block;
            margin: 0 auto;
            width: calc(100% - 24px);
            height: auto;

            @media (min-width: 500px) {
              width: calc(100% - 48px);
            }

            @media (min-width: 600px) {
              width: calc(100% - 64px);
            }

            @media (min-width: 786px) {
              width: calc(100% - 96px);
            }

            @media (min-width: 1024px) {
              width: calc(100% - 96px);
            }
          }

          .photo-pc {
            display: none;
          }

          @media (min-width: 420px) {
            .photo-sp {
              display: none;
            }

            .photo-pc {
              display: block;
            }
          }

          // .photo-pc
        }

        // .kv-photo

        .catch_copy-outer {
          position: absolute;
          top: 80%;
          left: 0;
          width: 100%;
          height: fit-content;

          display: flex;
          flex-direction: column;
          gap: 3vw;

          pointer-events: none;
          z-index: 4;

          @media (min-width: 600px) {
            height: fit-content;
            gap: 1.5vw;
          }

          @media (min-width: 786px) {
            gap: 1.5vw;
          }

          @media (min-width: 1024px) {
            gap: 1vw;
          }

          .catch_copy {
            padding: 0.4em 1em;
            font-size: 1rem;
            line-height: 1.4;

            background: $btn-cc;
            border-radius: 50px;
            box-shadow: 3px 3px 0 0 $shadow;

            width: fit-content;
            white-space: nowrap;
            pointer-events: auto;

            @media (min-width: 600px) {
              margin-left: 12px;
              font-size: 1rem;
            }

            @media (min-width: 786px) {
              margin-left: 24px;
              font-size: 1.1rem;
            }

            @media (min-width: 1024px) {
              margin-left: 48px;
              font-size: 1.2rem;
            }

            &:nth-child(1) {
              align-self: flex-start;
            }

            &:nth-child(2) {
              align-self: flex-end;
              margin-right: 1vw;

              @media (min-width: 600px) {
                align-self: flex-start;
              }
            }

            &:nth-child(3) {
              align-self: flex-start;
            }

            br {
              display: block;

              @media (min-width: 600px) {
                display: none;
              }
            }
          }

          // catch_copy
        }

        // .catch_copy-outer

        .kv-inner {
          position: relative;

          margin-top: 50vw;
          padding-bottom: 4vw;
          width: 100%;

          text-align: center;
          font-size: 4.5vw;
          line-height: 1.3;

          @media (min-width: 500px) {
            margin-top: 40vw;
          }

          @media (min-width: 600px) {
            margin-top: 22vw;
            font-size: 1.6rem;
          }

          @media (min-width: 786px) {
            margin-top: 20vw;
            font-size: 1.8rem;
          }

          @media (min-width: 1024px) {
            margin-top: 140px;
            font-size: 2rem;
            padding-bottom: 1vw;
          }

          span {
            color: $text-sub;
            font-size: 4.5vw;

            @media (min-width: 500px) {
              font-size: 1.6rem;
            }

            @media (min-width: 786px) {
              font-size: 1.8rem;
            }

            @media (min-width: 1024px) {
              font-size: 2rem;
            }
          }
        }

        // kv-inner
      }

      // .kv-container
    }

    // #kv

    /* ========二人ペアイラスト======= */

    .cc-img {
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 660px;
      z-index: 4;

      @media (min-width: 600px) {
        max-width: 540px;
      }

      @media (min-width: 786px) {
        max-width: 600px;
      }

      @media (min-width: 1024px) {
        max-width: 800px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -6vw;
      }

      &::before {
        background-image: url(../images/top_pouple01.png);
        background-repeat: no-repeat;
        background-size: contain;
        left: 2%;
        width: 120px;
        height: 100px;

        @media (min-width: 500px) {
          width: 140px;
          height: 120px;
          top: -6vw;
        }

        @media (min-width: 600px) {
          width: 160px;
          height: 140px;
          top: -4vw;
        }

        @media (min-width: 768px) {
          width: 180px;
          height: 140px;
          top: -4vw;
        }

        @media (min-width: 1024px) {
          width: 200px;
          height: 180px;
          top: -8vw;
        }
      }

      &::after {
        background-image: url(../images/top_pouple02.png);
        background-repeat: no-repeat;
        background-size: contain;
        right: 0;
        width: 120px;
        height: 100px;

        @media (min-width: 500px) {
          width: 140px;
          height: 110px;
          top: -6vw;
        }

        @media (min-width: 600px) {
          width: 160px;
          height: 130px;
          top: -4vw;
        }

        @media (min-width: 768px) {
          width: 180px;
          height: 150px;
          top: -4vw;
        }

        @media (min-width: 1024px) {
          width: 200px;
          height: 170px;
          top: -8vw;
        }
      }
    }

    // cc-img
  }

  // #bg-container

  /* ========topのお知らせ======= */

  #news {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 16px;

    background: var(--color-yellow);

    .news-container {
      width: 100%;
      padding: 0 3rem;
      margin-top: 20px;

      .news-outer {
        margin: 0 auto 32px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 2rem;

        @media (min-width: 500px) {
          gap: 4rem;
        }

        @media (min-width: 786px) {
          gap: 3rem;
        }

        @media (min-width: 1024px) {
          gap: 4rem;
        }

        a {
          display: block;
          width: fit-content;

          @media (max-width: 350px) {
            &:nth-child(n + 3) {
              display: none;
            }
          }

          @media (min-width: 350px) and (max-width: 785px) {
            &:nth-child(n + 3) {
              display: none;
            }
          }

          @media (min-width: 786px) and (max-width: 1024px) {
            &:nth-child(4) {
              display: none !important;
            }
          }

          .news-brock {
            width: 100%;
            max-width: 160px;

            @media (min-width: 600px) {
              max-width: 200px;
            }

            .date {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              margin: 4px;

              @media (min-width: 420px) {
                margin-top: 8px;
              }

              span {
                font-size: 0.875rem;
                letter-spacing: 2px;

                @media (min-width: 600px) {
                  font-size: 1rem;
                }

                @media (min-width: 1024px) {
                  font-size: 1.125rem;
                }
              }

              p {
                padding: 0 10px;
                display: inline-block;
                font-size: 0.875rem;
                color: white;
                background: $orange-2nd;
                border-radius: 4px;

                @media (min-width: 600px) {
                  font-size: 1rem;
                }

                @media (min-width: 1024px) {
                  font-size: 1.125rem;
                }
              }
            }

            // .date

            .news-title {
              overflow: hidden;
              height: 2.2em;

              font-size: 1rem;
              line-height: 1.2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;

              @media (min-width: 600px) {
                font-size: 1.125rem;
              }

              @media (min-width: 1024px) {
                font-size: 1.25rem;
              }
            }

            .news-text {
              overflow: hidden;
              height: 3em;
              margin-top: 8px;
              font-size: 0.875rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;

              @media (min-width: 600px) {
                font-size: 1rem;
              }

              @media (min-width: 1024px) {
                font-size: 1.125rem;
                height: 3.375em;
              }
            }
          }

          // .news-brock
        }

        // a
      }

      // .news-outer
    }

    // .news-container
  }

  // #news

  /* ========topの事業内容======= */

  #service {
    margin: 0 auto;
    padding-bottom: 40px;
    background: $green;

    .service-container {
      width: 100%;
      padding: 0 1rem;
      margin: 60px auto 0;

      .service-outer {
        margin: 20px auto 0;
        max-width: 440px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;

        @media (min-width: 786px) {
          max-width: 780px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: none;
          column-gap: 0.5rem;
        }

        @media (min-width: 1024px) {
          max-width: 880px;
          grid-template-columns: 1fr 1fr 1.1fr 1fr;
          column-gap: 2rem;
        }

        .service-block {
          width: 100%;
          text-align: center;

          .top-logo-img {
            width: 100px;
          }

          p {
            font-size: 1rem;

            @media (min-width: 600px) {
              font-size: 1.125rem;
              line-height: 1.3;
            }

            @media (min-width: 1024px) {
              font-size: 1.25rem;
              line-height: 1.5;
            }
          }
        }

        // .service-block
      }

      // .service-outer
    }

    // .service-container
  }

  // #service
}

// main
