@use "../global" as *;
/* ===============================================
# topページ
=============================================== */

main {
    padding: 70px 0 40px;

    #kv {
        margin: 0 auto;
        max-width: 480px;
        width: 100%;
        position: relative;


        .kv-container {

            .kv-frame {
                margin: 0 auto;
                width: calc(100% - 24px);

                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                }
            }

            // .kv-frame

            .catch_copy-outer {
                padding: 0 2px;
                position: absolute;
                top: 230px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .catch_copy {
                    background: $btn-cc;
                    border-radius: 50px;
                    width: fit-content;
                    display: inline-block;
                    box-shadow: 2px 3px 0 0 $shadow;

                    p {
                        padding: 4px 1.5rem;
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }

                    &:nth-child(odd) {
                        align-self: flex-start;
                    }

                    &:nth-child(even) {
                        align-self: flex-end;
                    }
                }

                // catch_copy
            }

            // .catch_copy-outer

            .kv-inner {
                margin: 200px 0 80px;
                text-align: center;
                font-size: 1.375rem;

                span {
                    color: $text-sub;
                    font-size: 1.375rem;
                }
            }

        }

        // .kv-container
    }

    // #kv


    /* ========topのお知らせ======= */

    #news {
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 0;

        background: var(--color-yellow);

        .news-container {
            width: 100%;
            padding: 0 3rem;
            margin-top: 20px;

            .news-outer {
                margin: 0 auto 32px;
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 2rem;

                .news-brock {
                    width: 100%;

                    .date {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin: 4px;

                        span {
                            font-size: 0.875rem;
                            letter-spacing: 2px;
                        }

                        p {
                            padding: 0 10px;
                            display: inline-block;
                            font-size: 0.875rem;
                            color: white;
                            background: $orange-2nd;
                            border-radius: 4px;
                        }

                    }

                    // .date
                    .news-title {
                        overflow: hidden;
                        height: 2.2em;
                        font-size: 1rem;
                        line-height: 1.2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }

                    .news-text {
                        margin-top: 8px;
                        font-size: 0.875rem;
                    }
                }

                // .news-brock

            }

            // .news-outer

        }

        // .news-container


    }

    // #news


    /* ========topの事業内容======= */

    #service {
        margin: 0 auto;
        padding-bottom: 40px;
        background: $green;

        .service-container {
            width: 100%;
            padding: 0 1rem;
            margin: 0 auto;

            .service-outer {
                margin: 20px auto 0;
                max-width: 440px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                row-gap: 1rem;
                column-gap: 1rem;

                .service-block {
                    width: 100%;
                    text-align: center;

                    .top-logo-img {
                        width: 100px;
                    }
                    p {
                        font-size: 1rem;
                    }
                }

                // .service-block
            }

            // .service-outer

        }

        // .service-container
    }

    // #service



}

// main