@use "../global" as *;
/* ===============================================
# topページ
=============================================== */

main {
    padding-top: 1rem;
    background: $bg-main;

    #kv {
        margin: 0 auto;
        width: 100%;
        position: relative;

        @media (min-width:376px) {
            max-width: 500px;
        }

        @media (min-width:500px) {
            max-width: 700px;
        }

        @media (min-width:785px) {
            max-width: 1000px;
        }


        .kv-container {
            margin: 0 auto;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .kv-frame {
                margin: 0 auto;
                width: calc(100% - 24px);

                img {
                    display: block;
                    margin: 0 auto;
                    width: 90%;
                    height: auto;
                }
            }

            // .kv-frame

            .catch_copy-outer {
                padding: 0 2px;
                position: absolute;
                top: 180px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                @media (min-width:420px) {
                    top: 220px;

                }

                @media (min-width:500px) {
                    top: 270px;
                    max-width: 700px;
                }

                @media (min-width:785px) {
                    top: 320px;
                    max-width: 1000px;
                }

                .catch_copy {
                    background: $btn-cc;
                    border-radius: 50px;
                    width: fit-content;
                    display: inline-block;
                    box-shadow: 2px 3px 0 0 $shadow;

                    p {
                        padding: 4px 1.5rem;
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }

                    &:nth-child(odd) {
                        align-self: flex-start;
                    }

                    &:nth-child(even) {
                        align-self: flex-end;
                    }
                }

                // catch_copy
            }

            // .catch_copy-outer

            .kv-inner {
                margin: 200px 0 40px;
                text-align: center;
                font-size: 1.375rem;

                span {
                    color: $text-sub;
                    font-size: 1.375rem;
                }
            }

        }

        // .kv-container

        /* ========二人ペアイラスト======= */

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: -22%;
        }

        &::before {
            background-image: url(../images/top_pouple01.png);
            background-repeat: no-repeat;
            background-size: contain;
            left: 2%;
            width: 120px;
            height: 100px;

            @media (min-width:500px) {
                width: 140px;
                height: 120px;
            }

            @media (min-width:670px) {
                width: 160px;
                height: 140px;
                bottom: -20%;
            }

            @media (min-width:768px) {
                width: 180px;
                height: 140px;
                bottom: -19%;
            }

        }

        &::after {
            background-image: url(../images/top_pouple02.png);
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            width: 120px;
            height: 100px;

            @media (min-width:500px) {
                width: 140px;
                height: 110px;
            }

            @media (min-width:670px) {
                width: 160px;
                height: 130px;
                bottom: -20%;
            }

            @media (min-width:768px) {
                width: 180px;
                height: 130px;
                bottom: -19%;
            }

        }


    }

    // #kv



    /* ========topのお知らせ======= */

    #news {
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 16px;

        background: var(--color-yellow);

        .news-container {
            width: 100%;
            padding: 0 3rem;
            margin-top: 20px;

            .news-outer {
                margin: 0 auto 32px;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;

                @media (min-width:500px) {
                    gap: 2.5rem;
                }
                @media (min-width:785px) {
                    gap: 3rem;
                }
                @media (min-width:880px) {
                    gap: 4rem;
                }

                a {
                    display: block;
                    width: 160px;

                    @media (min-width:350px) and (max-width: 670px) {
                        &:nth-child(n+3) {
                            display: none;
                        }
                    }
                    @media (min-width:671px) and (max-width: 880px) {
                        &:nth-child(4) {
                            display: none !important;
                        }
                    }
                    
                    .news-brock {
                        width: 100%;
                        max-width: 220px;
                        
                        @media (min-width:376px) {
                            // 
                        }



                        .date {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            margin: 4px;

                            @media (min-width:420px) {
                                margin-top: 8px;
                            }

                            span {
                                font-size: 0.875rem;
                                letter-spacing: 2px;
                            }

                            p {
                                padding: 0 10px;
                                display: inline-block;
                                font-size: 0.875rem;
                                color: white;
                                background: $orange-2nd;
                                border-radius: 4px;
                            }

                        }

                        // .date
                        .news-title {
                            overflow: hidden;
                            height: 2.2em;
                            font-size: 1rem;
                            line-height: 1.2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }

                        .news-text {
                            margin-top: 8px;
                            font-size: 0.875rem;
                        }
                    }

                    // .news-brock
                }

                // a

            }

            // .news-outer

        }

        // .news-container


    }

    // #news


    /* ========topの事業内容======= */

    #service {
        margin: 0 auto;
        padding-bottom: 40px;
        background: $green;

        .service-container {
            width: 100%;
            padding: 0 1rem;
            margin: 0 auto;

            .service-outer {
                margin: 20px auto 0;
                max-width: 440px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                row-gap: 1rem;
                column-gap: 1rem;

                @media (min-width:768px) {
                    max-width: 740px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: none;

                }

                .service-block {
                    width: 100%;
                    text-align: center;

                    .top-logo-img {
                        width: 100px;
                    }

                    p {
                        font-size: 1rem;
                    }
                }

                // .service-block
            }

            // .service-outer

        }

        // .service-container
    }

    // #service



}

// main