@use "../global" as *;
/* ===============================================
# ボタン
=============================================== */
@use "../global" as *;
/* ===============================================
# ボタン
=============================================== */
.btn {
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
    background: $btn-cc;
    text-align: center;
    border-radius: 50px;
    border: 1px solid $text;
    box-shadow: 2px 3px 0 0 $text;

    .btn-circle {
        position: absolute;
        right: 8px;
        width: 16px;
        height: 16px;
        background: $text;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            border-top: 1px solid $btn-cc;
            border-right: 1px solid $btn-cc;
            transform: rotate(45deg);
            margin-right: 3px;
        }

    }


     &:hover{
        --tw-translate-y: 5px;
        --tw-translate-x: 5px;
        -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        background-color: var(--mainColor);
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        -webkit-box-shadow: 0 0 0 var(--mainColor);
        box-shadow: 0 0 0 var(--mainColor);
      }

}
// .btn

 .contact {
    width: 180px;
    padding-left: 1rem;

    .mail-icon {
        display: block;
        width: 24px;
        margin-right: 4px;
    }
    span {
    margin-left: 8px;
    }

 }