@use "../global" as *;

/* ===============================================
# footer footer-top
=============================================== */
#footer_top {
  position: relative;
  width: 100%;

  padding-bottom: 20px;

  &.bg-pink{
    background: var(--color-pink);
  }
  &.bg-yellow{
    background: var(--color-yellow);
  }
  &.bg-green{
    background: var(--color-green);
  }

  .service-container{
    padding-top: 40px;
    padding-inline: 20px;
    h2{
      font-weight: bold;
      margin-bottom: 24px;
    }
  }
  .service-outer{
    display: flex;
    flex-wrap: wrap;
    max-width: 840px;
    width: 100%;
    margin-inline: auto;
    justify-content: center;
    border-top: 1px solid $text;
    border-bottom: 1px solid $text;
    padding-block: 40px;
    gap: 20px;
    @include tb(){
      padding-block: 20px;
      gap: 12px;

    }
    .service-block{
      width: 50%;
      max-width: 280px;

      a{
        display: flex;
        align-items: center;
        img{
          width: 120px;
          @include tb(){
            width: 80px;
          }
        }
        p{
          span{
            display: block;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 8px;
            @include tb(){
              font-size: 14px;
            }
          }
          font-size: 18px;
          font-weight: bold;
          @include tb(){
            font-size: 16px;
          }
        }

      }
    }
  }

  .footer_top-container {
    margin: 60px auto 0;
    max-width: 600px;

    .bg-img {
      margin: 1rem;
      padding: 1rem 0.75rem;
      background-image: url(../images/bg-footer-top.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .footer_top-outer {
        text-align: center;
        padding-bottom: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-text {
          font-size: 1.375rem;
          padding-bottom: 1rem;
          @media (min-width: 600px) {
            font-size: 1.6rem;
            padding-bottom: 1.175rem;
          }
          @media (min-width: 1024px) {
            font-size: 1.8rem;
          }
        }

        p {
          font-size: 1rem;
          margin-bottom: 12px;
          @media (min-width: 600px) {
            font-size: 1.3rem;
            padding-bottom: 4px;
          }
          @media (min-width: 1024px) {
            font-size: 1.5rem;
            padding-bottom: 6px;
          }
        }

        .footer_top-inner {
          margin: 0 auto;
          max-width: 380px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          @media (min-width: 600px) {
            max-width: 560px;
            gap: 8px;
          }
          @media (min-width: 786px) {
            gap: 16px;
          }
          @media (min-width: 1024px) {
            gap: 32px;
            max-width: 800px;
          }

          .footer_top-block {
            display: block;
            width: fit-content;

            p {
              font-size: 1.5rem;
              margin-bottom: 6px;
              @media (min-width: 600px) {
                font-size: 1.7rem;
                letter-spacing: 2px;
              }
              @media (min-width: 1024px) {
                font-size: 2rem;
              }
            }

            span {
              font-size: 0.875em;
                            @media (min-width: 600px) {
                font-size: 1rem;
              }
              @media (min-width: 1024px) {
                font-size: 1.175rem;
              }
            }
          }
        }

        // .footer_top-inner
      }

      // .footer_top-outer
    }

    // .bg-img
  }

  // .footer_top-container


  /* ========topに戻るボタン======= */

  #back-btn-containar {
    // max-width: 1240px;  
    // margin: 0 auto;    
    // position: relative;
    // height: 1px;
    // pointer-events: none;


  #back-page-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s,
      visibility 0.3s;

    &.is-show {
      opacity: 1;
      visibility: visible;
    }

    /* フッターに到達した時にJSでこのクラスをつける */
    &.is-stopped {
      position: absolute;
      bottom: 40px; /* #footer_topの最下部からの距離 */
      top: auto;
      right: 20px;
    }

    .btn-top {
      display: block;
      position: relative;
      margin-left: auto;
      margin-bottom: -8px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: $text;
      border: 1px solid $btn-cc;
      z-index: 2;
      cursor: pointer;
      
      @media (min-width: 600px) {
        margin-right: 1rem;
        margin-bottom: -1rem;
        width: 60px;
        height: 60px;
      }
      @media (min-width: 1240px) {
        margin-right: 1rem;
        margin-bottom: -2rem;
      }

      transition:
        background-color 0.2s ease,
        border-color 0.2s ease;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 48%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-left: 2px solid $btn-cc;
        border-top: 2px solid $btn-cc;
        border-radius: 2px;
        transform: translate(-50%, -25%) rotate(45deg);
        transition: border-color 0.2s ease;
      }

      &:hover {
        transform: translateY(4px);
        transition: transform 0.2s ease;
      }

      &:active {
        background: $btn-cc;
        border-color: $text;

        &::before {
          border-color: $text;
        }
      }
    }

    // .btn_top
  }

  // #back-page-top

}
// #back-btn-outer


}

// #footer-top

.wave-footer{
  background: $bg-main;
}