@use "../global" as *;

/* ===============================================
# footer
=============================================== */
#footer_top {
  background: var(--color-pink);
  padding-bottom: 20px;

  .footer_top-container {
    margin: 0 1rem 20px;
    padding: 1rem;
    background-image: url(../images/bg-footer-top.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .footer_top-outer {
      text-align: center;

      h4 {
        font-size: 1.375rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.125rem;
        margin-bottom: 12px;
      }

      .footer_top-inner {
        margin: 0 auto;
        max-width: 380px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .footer_top-block {
          display: block;
          width: 50%;

          p {
            font-size: 1.5rem;
          }

          span {
            font-size: 0.875em;
          }
        }
      }

      // .footer_top-inner
    }

    // .footer_top-outer

  }

  // .footer_top-container


  /* ========topに戻るボタン======= */

  #page_top {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: $text;
    border: 1px solid $text;
    z-index: 2;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 48%;
      left: 50%;
      width: 12px;
      height: 12px;
      border-left: 2px solid $white;
      border-top: 2px solid $white;
      border-radius: 2px;
      transform: translate(-50%, -25%) rotate(45deg);
    }
  }

}

// #footer-top


/* ========footer======= */

footer {
  margin: 0 auto;
  min-width: 380px;

  .footer-container {
    padding: 0 3rem;

    h1 {
      width: 240px;
      height: auto;
      margin-bottom: 1.6rem;
    }

    .address {
      font-size: 1.125em;
      margin-bottom: 1.3em;

      p {
        line-height: 1.5;
      }
    }

  }

  // .footer-container

}

// footer