@use "../global" as *;

/* ===============================================
# footer footer-top
=============================================== */
#footer_top {
  position: relative;

  background: var(--color-pink);
  padding-bottom: 20px;

  .footer_top-container {
    margin: 0 auto;
    max-width: 600px;

    .bg-img {
      margin: 1rem;
      padding: 1rem 0.75rem;
      background-image: url(../images/bg-footer-top.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .footer_top-outer {
        text-align: center;
        padding-bottom: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-text {
          font-size: 1.375rem;
          padding-bottom: 1rem;
          @media (min-width: 600px) {
            font-size: 1.6rem;
            padding-bottom: 1.175rem;
          }
          @media (min-width: 1024px) {
            font-size: 1.8rem;
          }
        }

        p {
          font-size: 1rem;
          margin-bottom: 12px;
          @media (min-width: 600px) {
            font-size: 1.3rem;
            padding-bottom: 4px;
          }
          @media (min-width: 1024px) {
            font-size: 1.5rem;
            padding-bottom: 6px;
          }
        }

        .footer_top-inner {
          margin: 0 auto;
          max-width: 380px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          @media (min-width: 600px) {
            max-width: 560px;
            gap: 8px;
          }
          @media (min-width: 786px) {
            gap: 16px;
          }
          @media (min-width: 1024px) {
            gap: 32px;
            max-width: 800px;
          }

          .footer_top-block {
            display: block;
            width: fit-content;

            p {
              font-size: 1.5rem;
              margin-bottom: 6px;
              @media (min-width: 600px) {
                font-size: 1.7rem;
                letter-spacing: 2px;
              }
              @media (min-width: 1024px) {
                font-size: 2rem;
              }
            }

            span {
              font-size: 0.875em;
                            @media (min-width: 600px) {
                font-size: 1rem;
              }
              @media (min-width: 1024px) {
                font-size: 1.175rem;
              }
            }
          }
        }

        // .footer_top-inner
      }

      // .footer_top-outer
    }

    // .bg-img
  }

  // .footer_top-container

  /* ========topに戻るボタン======= */

  #back-page-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s,
      visibility 0.3s;

    &.is-show {
      opacity: 1;
      visibility: visible;
    }

    /* フッターに到達した時にJSでこのクラスをつける */
    &.is-stopped {
      position: absolute;
      bottom: 20px; /* #footer_topの最下部からの距離 */
      top: auto;
      right: 20px;
    }

    .btn-top {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: 1rem;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $text;
      border: 1px solid $btn-cc;
      z-index: 2;
      cursor: pointer;

      transition:
        background-color 0.2s ease,
        border-color 0.2s ease;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 48%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-left: 2px solid $btn-cc;
        border-top: 2px solid $btn-cc;
        border-radius: 2px;
        transform: translate(-50%, -25%) rotate(45deg);
        transition: border-color 0.2s ease;
      }

      &:hover {
        transform: translateY(4px);
        transition: transform 0.2s ease;
      }

      &:active {
        background: $btn-cc;
        border-color: $text;

        &::before {
          border-color: $text;
        }
      }
    }

    // .btn_top
  }

  // #back-page-top
}

// #footer-top

/* ===============================================
# footer footer
=============================================== */

footer {
  margin: 0 auto;
  min-width: 350px;
  background: $bg-main;

  background-image: url(../images/footer_sp.png);
  // background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 400px 140px;

  .footer-container {
    padding: 0 3rem 32px;
    margin: 0 auto;
    max-width: 700px;

    h1 {
      width: 240px;
      height: auto;
      margin-bottom: 1.6rem;
    }

    .address {
      font-size: 1.125em;
      margin-bottom: 1.3em;

      p {
        line-height: 1.5;
      }
    }

    /* ========footer-menu======= */

    nav {
      ul {
        max-width: 540px;
        font-size: 1rem;

        li {
          padding: 4px 0;
          border-bottom: 1px solid $text;

          a {
            padding: 4px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow {
              position: relative;
              display: inline-block;
              width: 20px;
              height: 1px;
              margin: 6.4px 0;
              background-color: $text;
            }

            .arrow::before,
            .arrow::after {
              content: "";
              position: absolute;
              top: calc(50% - 0.5px);
              right: 0;
              width: 10px;
              height: 1px;
              background-color: $text;
              transform-origin: calc(100% - 0.5px) 50%;
            }

            .arrow::before {
              transform: rotate(45deg);
            }

            .arrow::after {
              transform: rotate(-45deg);
            }

            //   .arrow
          }

          // li>a
        }

        // li

        /* ======アコーディオンメニュー====== */

        .btn-accordion {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .accordion-head {
            margin: 8px 0;
            display: block;
            cursor: pointer;
          }

          .plus {
            display: block;
            position: relative;
            width: 18px;
            height: 18px;

            // 横棒・縦棒の共通スタイル
            &::before,
            &::after {
              content: "";
              position: absolute;
              background-color: $text;
              top: 50%;
              left: 50%;
              transition:
                transform 0.3s ease,
                opacity 0.3s ease;
            }

            // 横棒（マイナス部分）
            &::before {
              width: 100%;
              height: 1px;
              transform: translate(-50%, -50%);
            }

            // 縦棒（プラスにするためのパーツ）
            &::after {
              width: 1px;
              height: 100%;
              transform: translate(-50%, -50%);
            }
          }

          //   .plus

          &.is-open {
            .plus {
              &::after {
                transform: translate(-50%, -50%) rotate(90deg);
                opacity: 0;
              }
            }
          }

          // .is-open
        }

        // .btn-accordion

        .accordion-body {
          margin-top: 0;
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: all 0.3s ease;

          a {
            display: block;
            padding: 2px 0;
            cursor: pointer;
          }

          &.is-open {
            margin-top: 8px;
            min-height: 120px;
            opacity: 1;
          }
        }

        // .accordion-body

        .inst {
          margin: 18px 0 8px;
          width: 20px;
        }

        .sub-menu {
          span {
            font-size: 0.875rem;
          }
        }
      }

      // ul
    }

    // nav
  }

  // .footer-container

  small {
    display: block;
    margin: 80px 0;
    padding-bottom: 20px;
    text-align: center;
  }
}

// footer
