@use "../global" as *;


/* ===============================================
# footer footer
=============================================== */

footer {
  margin: 0 auto;
  padding-top: 40px;
  min-width: 350px;
  background: $bg-main;
  position: relative;

  background-repeat: repeat-x;
  background-position: bottom;
  overflow: hidden;
  

  padding-bottom: min(28vw , 320px);
  &::after{
    display: block;
    content: "";
    width: 100%;
    min-height: 280px;
    aspect-ratio: 2161/340;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/footer_pc.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

    @include tb(){
      display: none;
    }
  }
  @include tb(){
    background-image: url(../images/footer_sp.png);
    background-size: 400px 140px;
    padding-bottom: 120px;
    display: block;

  }
  .footer-container {
    padding: 0 3rem 32px;
    margin: 0 auto;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    @include tb(){
      max-width: 700px;
      display: block;

    }

    h1 {
      width: 240px;
      height: auto;
      margin-bottom: 1.6rem;
    }

    .address {
      font-size: 1.125em;
      margin-bottom: 1.3em;

      p {
        line-height: 1.5;
      }
    }

    /* ========footer-menu======= */

    .footer_nav__pc{
      display: flex;
      gap: 24px;
      @include tb(){
        display: none;
      }
      .service-items{
        ul{
          li{
            margin-bottom: 6px;
            a{

              align-items: center;
              display: flex;
              gap: 12px;
              &::before{
                content: "";
                display: block;
                width: 6px;
                border-top: 2px solid $green-3rd;
              }
              span{
                font-size: 12px;
              }

            }
          }
        }
      }
      .list-style{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        &::before{
          height: 0;
          display: block;
          content: "";
          border-width: 8px 10px;
          border-style: solid;
          border-color:  transparent transparent transparent $green-3rd;
        }
      }
      .instagram{
        width: 28px;
      }
    }

    .footer_nav__sp{
      display: none;
      @include tb(){
        display: block;
      }
      ul {
        max-width: 540px;
        font-size: 1rem;

        li {
          padding: 4px 0;
          border-bottom: 1px solid $text;

          a {
            padding: 4px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .arrow {
              position: relative;
              display: inline-block;
              width: 20px;
              height: 1px;
              margin: 6.4px 0;
              background-color: $text;
            }

            .arrow::before,
            .arrow::after {
              content: "";
              position: absolute;
              top: calc(50% - 0.5px);
              right: 0;
              width: 10px;
              height: 1px;
              background-color: $text;
              transform-origin: calc(100% - 0.5px) 50%;
            }

            .arrow::before {
              transform: rotate(45deg);
            }

            .arrow::after {
              transform: rotate(-45deg);
            }

            //   .arrow
          }

          // li>a
        }

        // li

        /* ======アコーディオンメニュー====== */

        .btn-accordion {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .accordion-head {
            margin: 8px 0;
            display: block;
            cursor: pointer;
          }

          .plus {
            display: block;
            position: relative;
            width: 18px;
            height: 18px;

            // 横棒・縦棒の共通スタイル
            &::before,
            &::after {
              content: "";
              position: absolute;
              background-color: $text;
              top: 50%;
              left: 50%;
              transition:
                transform 0.3s ease,
                opacity 0.3s ease;
            }

            // 横棒（マイナス部分）
            &::before {
              width: 100%;
              height: 1px;
              transform: translate(-50%, -50%);
            }

            // 縦棒（プラスにするためのパーツ）
            &::after {
              width: 1px;
              height: 100%;
              transform: translate(-50%, -50%);
            }
          }

          //   .plus

          &.is-open {
            .plus {
              &::after {
                transform: translate(-50%, -50%) rotate(90deg);
                opacity: 0;
              }
            }
          }

          // .is-open
        }

        // .btn-accordion

        .accordion-body {
          margin-top: 0;
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: all 0.3s ease;

          a {
            display: block;
            padding: 2px 0;
            cursor: pointer;
          }

          &.is-open {
            margin-top: 8px;
            min-height: 120px;
            opacity: 1;
          }
        }

        // .accordion-body

        .inst {
          margin: 18px 0 8px;
          width: 20px;
        }

        .sub-menu {
          span {
            font-size: 0.875rem;
          }
        }
      }

      // ul
    }

    // nav
  }

  // .footer-container

  small {
    position: absolute;
    bottom: 20px;
    left: 50%;
    translate: -50% 0;
    z-index: 10;
  }
}

// footer
