@use "../global" as *;
/* ===============================================
# header
=============================================== */

header {
  width: 100%;
  min-height: 72px;
  padding: 8px 20px;
  top: 0;
  background-color: $bg-main;
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.3s ease;
  overflow: visible;
}

// header


  /* =======JSヘッダースクロール固定====== */

  header.header-sticky {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
    z-index: 999 !important;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15) !important;
    animation: slideDown 0.3s ease-in-out;
    // visibility: visible;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin-inline: auto;

    /* ========ハンバーガーボタン======= */

    .hamburger-btn {
      width: 40px;
      height: auto;
      margin-top: 12px;
      z-index: 1000;
      cursor: pointer;
      position: relative;
      display: none;
      @include tb(){
        display: block;
      }

      span {
        width: 100%;
        height: 1px;
        position: relative;
        background-color: $text;
        transition: ease 0.4s;
        display: block;
        translate: 0 -8px;
      }

      span:nth-child(1) {
        top: 0;
      }

      span:nth-child(2) {
        margin: 8px 0;
      }

      p {
        font-size: 0.9rem;
        position: absolute;
        bottom: -12px;
        transition: opacity .4s;
      }
    }
    // .hamburger-btn

    h1 {
      img {
        display: block;
        width: 150px;
        height: auto;
      }
    }
  }

  // .header-container



.header_nav__pc{
  @include tb(){
    display: none;
  }
  ul{
    display: flex;
    gap: 60px;
    li{
      margin: 0 auto;
      width: fit-content;
      text-align: center;

      position: relative; 
      padding: 1rem 0;
      font-size: 1.5rem;
      z-index: 1;

      .service{
        position: relative;
        &:hover{
          .service__items{
            visibility: visible;
            opacity: 1;
          }
        }
        &__items{
          position: absolute;
          width: 180px;
          background: $bg-main;
          text-align: left;
          padding: 12px 20px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          visibility: hidden;
          opacity: 0;
          transition: opacity .4s ,visibility .4s;
          a{
            span{
              display: block;
              font-size: 12px;
            }
          }
        }
      }
      
      @media (min-width: 600px) {
        font-size: 1.75rem;
      }
      @media (min-width: 1024px) {
        font-size: 2rem;
      }
      &.background_circle{


        &--01{
          &::before{
            background: $green-3rd;

          }
        }
        &--02{
          &::before{
            background: $orange-3rd;

          }
        }
        &--03{
          &::before{
            background: $pink-3rd;

          }
        }

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;

          mask-image: url(../images/svg/h2-bg.svg);
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 70% auto;

          -webkit-mask-image: url(../images/svg/h2-bg.svg);
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
          -webkit-mask-size: 70% auto;
        }
      }
    }
  }
}

/* =======ハンバーガーメニュー====== */

.header_nav__sp {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  margin-top: 72px;

  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 9999;
  // opacity: 0;
  display: none;

  background-color: $bg-main;
  padding: 20px 40px;
  font-size: 1rem;

  @include tb(){
    display: block;
  }

  /* =======ハンバーガーメニューアクティブ====== */
  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  ul {
    max-width: 540px;
    margin: 0 auto;

    li {
      padding: 4px 0;
      border-bottom: 1px solid $text;

      a {
        padding: 4px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .arrow {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 1px;
          margin: 6.4px 0;
          background-color: $text;
        }

        .arrow::before,
        .arrow::after {
          content: "";
          position: absolute;
          top: calc(50% - 0.5px);
          right: 0;
          width: 10px;
          height: 1px;
          background-color: $text;
          transform-origin: calc(100% - 0.5px) 50%;
        }

        .arrow::before {
          transform: rotate(45deg);
        }

        .arrow::after {
          transform: rotate(-45deg);
        }

        //   .arrow

        .plus {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 1px;
          margin: 6.4px 0;
          background-color: $text;
        }

        .plus::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          background-color: $text;
          transform: translateX(-50%);
          transform: rotate(90deg);
        }

        //   /plus
      }

      // li>a
    }

    // li

    /* ======アコーディオンメニュー====== */

    .btn-accordion {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .accordion-head {
        margin: 8px 0;
        display: block;
        cursor: pointer;
      }

      .plus {
        display: block;
        position: relative;
        width: 18px;
        /* アイコンの幅 */
        height: 18px;
        /* アイコンの高さ */

        // 横棒・縦棒の共通スタイル
        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: $text;
          /* 文字と同じ色にする */
          top: 50%;
          left: 50%;
          transition:
            transform 0.3s ease,
            opacity 0.3s ease;
        }

        // 横棒（マイナス部分）
        &::before {
          width: 100%;
          height: 1px;
          transform: translate(-50%, -50%);
        }

        // 縦棒（プラスにするためのパーツ）
        &::after {
          width: 1px;
          height: 100%;
          transform: translate(-50%, -50%);
        }
      }

      //   .plus

      &.is-open {
        .plus {
          &::after {
            // 縦棒を回転させて横棒に重ねる、または透明にする
            transform: translate(-50%, -50%) rotate(90deg);
            opacity: 0;
          }

          &::before {
            // 横棒はそのままでも良いし、少し太くしたり色を変えたりも可能
          }
        }
      }

      // .is-open
    }

    // .btn-accordion

    .accordion-body {
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.3s ease;

      a {
        display: block;
        padding: 2px 0;
        cursor: pointer;
      }

      &.is-open {
        margin-top: 8px;
        min-height: 120px;
        opacity: 1;
      }
    }

    // .accordion-body

    .inst {
      margin: 18px 0 8px;
      width: 20px;
    }

    .sub-menu {
      span {
        font-size: 0.875rem;
      }
    }
  }

  // ul
}

// nav

/* =======ハンバーガーボタンアクティブ====== */

.hamburger-btn.active span:nth-child(1) {
  top: 0px;
  margin: 8px 0;
  rotate: 45deg;
  translate: 0;
}

.hamburger-btn.active span:nth-child(2) {
  top: -10px;
  margin: 8px 0;
  rotate: -45deg;
  translate: 0;
}

.hamburger-btn.active p {
  opacity: 0;
}
