/*  ===============================================
#  parts
===============================================  */
@forward "header";
@forward "footer";
@forward "footer_top";
@forward "btn";
@forward "service_page";