@use "function" as *;
/* ===============================================
# 変数
=============================================== */
// フォント
$font-zenmaru:"Zen Maru Gothic",sans-serif;
$font-NotoSerif:"Noto Serif", serif;
$font-NotoSerifJp:"Noto Serif jp", serif;

//フォントサイズ
$font-size-small: rem(12);
$font-size-normal: rem(16);
$font-size-18: rem(18);
$font-size-20: rem(20);
$font-size-22: rem(22);
$font-size-24: rem(24);
$font-size-28: rem(28);
$font-size-30: rem(30);
$font-size-32: rem(32);
$font-size-36: rem(36);
$font-size-50: rem(50);

:root {
  --font-size12: #{$font-size-small};
  --font-size16: #{$font-size-normal};
  --font-size18: #{$font-size-18};
  --font-size20: #{$font-size-20};
  --font-size22: #{$font-size-22};
  --font-size24: #{$font-size-24};
  --font-size28: #{$font-size-28};
  --font-size30: #{$font-size-30};
  --font-size32: #{$font-size-32};
  --font-size36: #{$font-size-36};
  --font-size50: #{$font-size-50};
}

// 色
$bg-main: #F8F8EC;
$blue: #D3E5F4;
$blue-2nd: #369BD1;
$blue-3nd: #93C7ED;
$yellow: #F7EDA0;
$yellow-2nd: #E8BF33;
$yellow-3nd: #F4E46C;
$green: #DAE8C0;
$green-2nd: #85D136;
$green-3nd: #BEE6A8;
$pink: #F8E7ED;
$pink-2nd: #ED83A6;
$pink-3nd: #F2B5C9;
$orange: #F8E2CF;
$orange-2nd: #D17E36;
$orange-3nd: #F5AC71;
$text: #B44906;
$text-sub: #D95B0D;
$btn-cc: #FEFBF3;
$shadow: #9C7F4D;
$white: #fff;
$black: #151515;
$gray: #cbcbcb;
$gray-bg: #ebebe3;
$red: #890000;
$red-hover: #f0776c;
$green-hover: #9cdb8e;
$color:#3100f6;
$brown-bg:#e0d6ca;// 下層ページheader下
$color-link:#0000ee;
$color-link-visited:#551a8b;

:root {
  --color-white: #{$white};
  --color-black: #{$black};
  --color-gray: #{$gray};
  --color-blue: #{$blue};
  --color-pink: #{$pink};
  --color-orange: #{$orange};
  --color-yellow: #{$yellow};
  --color-green: #{$green};
  --color-green-hover: #{$green-hover};
  --color-brown-bg:#{$brown-bg};
  --color-link:#{$color-link};
  --color-link-visited:#{$color-link-visited};
}

