@charset "UTF-8";
/* ===============================================
# global
=============================================== */
/* ===============================================
# フォントのCDN
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
/* ===============================================
# 関数
=============================================== */
/* ===============================================
# 変数
=============================================== */
:root {
  --font-size12: 0.75rem;
  --font-size16: 1rem;
  --font-size18: 1.125rem;
  --font-size20: 1.25rem;
  --font-size22: 1.375rem;
  --font-size24: 1.5rem;
  --font-size28: 1.75rem;
  --font-size30: 1.875rem;
  --font-size32: 2rem;
  --font-size36: 2.25rem;
  --font-size50: 3.125rem;
}

:root {
  --color-white: #fff;
  --color-black: #151515;
  --color-gray: #cbcbcb;
  --color-gray-bg: #ebebe3;
  --color-red: #890000;
  --color-red-hover: #f0776c;
  --color-orange: #ffc76a;
  --color-green: #99c88f;
  --color-green-hover: #9cdb8e;
  --color-brown-bg:#e0d6ca;
  --color-link:#0000ee;
  --color-link-visited:#551a8b;
}

/* ===============================================
# ミックスイン
=============================================== */
/* ===============================================
# common
=============================================== */
/* ===============================================
# 共通ベース
=============================================== */
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Zen Maru Gothic", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 375px;
  width: 100%;
  height: 100%;
  color: #B44906;
}

h1, h2, h3, p, a {
  color: #B44906;
  line-height: 1.6;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 100px;
}

/* ===============================================
# アニメーション
=============================================== */
@keyframes open_menu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.key-open_menu {
  animation-name: open_menu;
}

.anime {
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.anime.loop {
  animation-iteration-count: infinite;
}
.anime.delay-1s {
  animation-delay: 1s;
}
.anime.delay-2s {
  animation-delay: 2s;
}
.anime.delay-3s {
  animation-delay: 3s;
}
.anime.delay-4s {
  animation-delay: 4s;
}
.anime.delay-5s {
  animation-delay: 5s;
}
.anime.fast {
  animation-duration: 500ms;
}
.anime.slow-2s {
  animation-duration: 2s;
}
.anime.slow-10s {
  animation-duration: 10s;
}
.anime.slow-20s {
  animation-duration: 20s;
}
.anime.ease-in {
  animation-timing-function: ease-in;
}
.anime.ease-out {
  animation-timing-function: ease-out;
}

/* ===============================================
# hover
=============================================== */
/* ===============================================
# page
=============================================== */
/* ===============================================
# topページ
=============================================== */
/* ===============================================
# 投稿記事ページ
=============================================== */
/* ===============================================
# parts
=============================================== */
/* ===============================================
# header
=============================================== */
header {
  width: 100%;
  height: 72px;
  padding: 12px;
  background-color: #F8F8EC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* =======ヘッダーメニュー====== */
}
header .header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ========ハンバーガーボタン======= */
}
header .header-container h1 img {
  display: block;
  width: 180px;
  height: auto;
}
header .header-container .hamburger-btn {
  width: 40px;
  height: auto;
  z-index: 999;
  cursor: pointer;
}
header .header-container .hamburger-btn span {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #B44906;
  transition: ease 0.4s;
  display: block;
}
header .header-container .hamburger-btn span:nth-child(1) {
  top: 0;
}
header .header-container .hamburger-btn span:nth-child(2) {
  margin: 8px 0 2px;
}
header .header-container .hamburger-btn p {
  font-size: 0.9rem;
}
header nav {
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #F8F8EC;
  transition: ease 0.4s;
}
header nav ul {
  width: 70%;
  padding: 20px 40px;
  font-size: 1rem;
  /* ======アコーディオンメニュー====== */
}
header nav ul li {
  padding: 4px 0;
  border-bottom: 1px solid #B44906;
}
header nav ul li a {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li a .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
header nav ul li a .arrow::before,
header nav ul li a .arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #B44906;
  transform-origin: calc(100% - 0.5px) 50%;
}
header nav ul li a .arrow::before {
  transform: rotate(45deg);
}
header nav ul li a .arrow::after {
  transform: rotate(-45deg);
}
header nav ul li a .plus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
header nav ul li a .plus::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #B44906;
  transform: translateX(-50%);
  transform: rotate(90deg);
}
header nav ul .accordion-menu {
  padding: 8px;
}
header nav ul .accordion-menu a {
  display: block;
  padding: 2px 0;
  cursor: pointer;
}
header nav ul a {
  display: block;
  padding: 2px 0;
  cursor: pointer;
}
header nav ul a img {
  width: 24px;
  margin: 20px 0;
}
header nav ul a span {
  font-size: 0.875rem;
}

/* =======ハンバーガーボタンアクティブ====== */
.hamburger-btn.active span:nth-child(1) {
  top: 0px;
  margin: 8px 0;
  transform: rotate(45deg);
}

.hamburger-btn.active span:nth-child(2) {
  top: -10px;
  margin: 8px 0;
  transform: rotate(-45deg);
}

.hamburger-btn.active p {
  opacity: 0;
}

/* =======ヘッダーメニューアクティブ====== */
.header-nav.active {
  transform: translateX(0);
}

/* ===============================================
# footer
=============================================== */
footer {
  color: var();
}

/* ===============================================
# ボタン
=============================================== *//*# sourceMappingURL=style.css.map */