@charset "UTF-8";
/* ===============================================
# global
=============================================== */
/* ===============================================
# フォントのCDN
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
/* ===============================================
# 関数
=============================================== */
/* ===============================================
# 変数
=============================================== */
:root {
  --font-size12: 0.75rem;
  --font-size16: 1rem;
  --font-size18: 1.125rem;
  --font-size20: 1.25rem;
  --font-size22: 1.375rem;
  --font-size24: 1.5rem;
  --font-size28: 1.75rem;
  --font-size30: 1.875rem;
  --font-size32: 2rem;
  --font-size36: 2.25rem;
  --font-size50: 3.125rem;
}

:root {
  --color-white: #fff;
  --color-black: #151515;
  --color-gray: #cbcbcb;
  --color-blue: #D3E5F4;
  --color-pink: #F8E7ED;
  --color-orange: #F8E2CF;
  --color-yellow: #F7EDA0;
  --color-green: #DAE8C0;
  --color-green-hover: #9cdb8e;
  --color-brown-bg:#e0d6ca;
  --color-link:#0000ee;
  --color-link-visited:#551a8b;
}

/* ===============================================
# ミックスイン
=============================================== */
/* ===============================================
# common
=============================================== */
/* ===============================================
# 共通ベース
=============================================== */
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Zen Maru Gothic", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #B44906;
}

main {
  padding-top: 80px;
  background: #F8F8EC;
}

h1,
h2,
h3,
p,
a {
  color: #B44906;
  line-height: 1.6;
}

h2 {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: relative;
  padding: 1rem 0;
  font-size: 1.5rem;
  z-index: 1;
}
@media (min-width: 600px) {
  h2 {
    font-size: 1.75rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}
h2::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  mask-image: url(../images/svg/h2-bg.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 70% auto;
  -webkit-mask-image: url(../images/svg/h2-bg.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 70% auto;
}

.h2-01::before {
  background-color: #ACD086;
}

.h2-02::before {
  background-color: #F5AC71;
}

.h2-03::before {
  background-color: #F2B5C9;
}

h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  /* --- ボタンの初期リセット --- */
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  /* -------------------------- */
}

.container {
  width: 100%;
  padding: 0 3rem;
}

.svg-outer {
  line-height: 0;
  font-size: 0;
}

.bg-top.bg-under {
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
  margin-bottom: 0;
}

/* ========ウェーブライン======= */
.wave-top {
  width: 100%;
  height: 40px;
  -webkit-mask-image: url("../images/svg/wave-top-sp.svg");
  mask-image: url("../images/svg/wave-top-sp.svg");
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-position: center top;
  mask-position: center top;
  -webkit-mask-size: 786px auto;
  mask-size: 786px auto;
}
@media (min-width: 600px) {
  .wave-top {
    height: 100px;
    -webkit-mask-size: 1920px auto;
    mask-size: 1920px auto;
  }
}

.wave-bottom {
  width: 100%;
  height: 40px;
  -webkit-mask-image: url("../images/svg/wave-under-sp.svg");
  mask-image: url("../images/svg/wave-under-sp.svg");
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-position: center bottom;
  mask-position: center bottom;
  -webkit-mask-size: 786px auto;
  mask-size: 786px auto;
}
@media (min-width: 600px) {
  .wave-bottom {
    height: 100px;
    -webkit-mask-size: 1920px auto;
    mask-size: 1920px auto;
  }
}

.wave-yellow {
  background-color: var(--color-yellow);
}

.wave-green {
  background-color: var(--color-green);
}

.wave-pink {
  background-color: var(--color-pink);
}

.wave-orange {
  background-color: var(--color-orange);
}

.wave-blue {
  background-color: var(--color-blue);
}

/* ========事業内容見出し======= */
.survice-head {
  margin: 0 auto 16px;
  padding: 6px 16px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  line-height: 1.2;
  background: white;
  border-radius: 50px;
}

/* ========事業内容2ndコピー======= */
.cc-2nd-outer {
  margin: 0 auto;
  padding-top: 20px;
}
.cc-2nd-outer .cc-2nd-inner {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .cc-2nd-outer .cc-2nd-inner {
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .cc-2nd-outer .cc-2nd-inner:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.cc-2nd-outer .cc-2nd-inner img {
  display: block;
  width: 300px;
  height: auto;
}
.cc-2nd-outer .cc-2nd-inner .cc-2nd-text p {
  padding: 0 54px;
  align-self: start;
}
@media (min-width: 600px) {
  .cc-2nd-outer .cc-2nd-inner .cc-2nd-text p {
    padding: 20px 8px 0;
  }
}
@media (min-width: 600px) {
  .cc-2nd-outer .cc-2nd-inner .cc-2nd-text {
    padding-top: 1rem;
  }
}

/* ===============================================
# アニメーション
=============================================== */
@keyframes open_menu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.key-open_menu {
  animation-name: open_menu;
}

.anime {
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.anime.loop {
  animation-iteration-count: infinite;
}
.anime.delay-1s {
  animation-delay: 1s;
}
.anime.delay-2s {
  animation-delay: 2s;
}
.anime.delay-3s {
  animation-delay: 3s;
}
.anime.delay-4s {
  animation-delay: 4s;
}
.anime.delay-5s {
  animation-delay: 5s;
}
.anime.fast {
  animation-duration: 500ms;
}
.anime.slow-2s {
  animation-duration: 2s;
}
.anime.slow-10s {
  animation-duration: 10s;
}
.anime.slow-20s {
  animation-duration: 20s;
}
.anime.ease-in {
  animation-timing-function: ease-in;
}
.anime.ease-out {
  animation-timing-function: ease-out;
}

/* ===============================================
# hover
=============================================== */
/* ===============================================
# page
=============================================== */
/* ===============================================
# page
=============================================== */
#about .about__top {
  text-align: center;
}
#about .about__top--inner {
  max-width: 996px;
  padding: 40px 20px 64px;
  margin-inline: auto;
}
#about .about__company {
  background: #D3E5F4;
}

/* ===============================================
# topページ
=============================================== */
#top {
  padding-top: 80px;
  background: #F8F8EC;
  /* ========topのお知らせ======= */
  /* ========topの事業内容======= */
}
#top #bg-container {
  position: relative;
  width: 100%;
  /* ========二人ペアイラスト======= */
}
#top #bg-container .bg-img {
  position: absolute;
  top: 30vw;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/svg/wave-kv-sp.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  z-index: 1;
}
@media (min-width: 420px) {
  #top #bg-container .bg-img {
    top: 8vw;
  }
}
@media (min-width: 500px) {
  #top #bg-container .bg-img {
    top: 4vw;
  }
}
@media (min-width: 600px) {
  #top #bg-container .bg-img {
    background-image: url("../images/svg/wave-kv-pc.svg");
    background-position: center top;
    background-size: 1200px auto;
    top: 13vw;
  }
}
@media (min-width: 700px) {
  #top #bg-container .bg-img {
    top: 20vw;
  }
}
@media (min-width: 786px) {
  #top #bg-container .bg-img {
    background-size: 1400px auto;
    top: 18vw;
  }
}
@media (min-width: 1024px) {
  #top #bg-container .bg-img {
    background-size: 1800px auto;
    top: 160px;
  }
}
@media (min-width: 1240px) {
  #top #bg-container .bg-img {
    top: 200px;
    background-repeat: repeat-x;
  }
}
#top #bg-container #kv {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media (min-width: 376px) {
  #top #bg-container #kv {
    max-width: 500px;
  }
}
@media (min-width: 500px) {
  #top #bg-container #kv {
    max-width: 700px;
  }
}
@media (min-width: 785px) {
  #top #bg-container #kv {
    max-width: 1000px;
  }
}
@media (min-width: 1024px) {
  #top #bg-container #kv {
    max-width: 1200px;
  }
}
#top #bg-container #kv .kv-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
#top #bg-container #kv .kv-container .kv-photo {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#top #bg-container #kv .kv-container .kv-photo img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 24px);
  height: auto;
}
@media (min-width: 500px) {
  #top #bg-container #kv .kv-container .kv-photo img {
    width: calc(100% - 48px);
  }
}
@media (min-width: 600px) {
  #top #bg-container #kv .kv-container .kv-photo img {
    width: calc(100% - 64px);
  }
}
@media (min-width: 786px) {
  #top #bg-container #kv .kv-container .kv-photo img {
    width: calc(100% - 96px);
  }
}
@media (min-width: 1024px) {
  #top #bg-container #kv .kv-container .kv-photo img {
    width: calc(100% - 96px);
  }
}
#top #bg-container #kv .kv-container .kv-photo .photo-pc {
  display: none;
}
@media (min-width: 420px) {
  #top #bg-container #kv .kv-container .kv-photo .photo-sp {
    display: none;
  }
  #top #bg-container #kv .kv-container .kv-photo .photo-pc {
    display: block;
  }
}
#top #bg-container #kv .kv-container .catch_copy-outer {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  pointer-events: none;
  z-index: 4;
}
@media (min-width: 600px) {
  #top #bg-container #kv .kv-container .catch_copy-outer {
    height: -moz-fit-content;
    height: fit-content;
    gap: 1.5vw;
  }
}
@media (min-width: 786px) {
  #top #bg-container #kv .kv-container .catch_copy-outer {
    gap: 1.5vw;
  }
}
@media (min-width: 1024px) {
  #top #bg-container #kv .kv-container .catch_copy-outer {
    gap: 1vw;
  }
}
#top #bg-container #kv .kv-container .catch_copy-outer .catch_copy {
  padding: 0.4em 1em;
  font-size: 1rem;
  line-height: 1.4;
  background: #FEFBF3;
  border-radius: 50px;
  box-shadow: 3px 3px 0 0 #9C7F4D;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  pointer-events: auto;
}
@media (min-width: 600px) {
  #top #bg-container #kv .kv-container .catch_copy-outer .catch_copy {
    margin-left: 12px;
    font-size: 1rem;
  }
}
@media (min-width: 786px) {
  #top #bg-container #kv .kv-container .catch_copy-outer .catch_copy {
    margin-left: 24px;
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) {
  #top #bg-container #kv .kv-container .catch_copy-outer .catch_copy {
    margin-left: 48px;
    font-size: 1.2rem;
  }
}
#top #bg-container #kv .kv-container .catch_copy-outer .catch_copy:nth-child(1) {
  align-self: flex-start;
}
#top #bg-container #kv .kv-container .catch_copy-outer .catch_copy:nth-child(2) {
  align-self: flex-end;
  margin-right: 1vw;
}
@media (min-width: 600px) {
  #top #bg-container #kv .kv-container .catch_copy-outer .catch_copy:nth-child(2) {
    align-self: flex-start;
  }
}
#top #bg-container #kv .kv-container .catch_copy-outer .catch_copy:nth-child(3) {
  align-self: flex-start;
}
#top #bg-container #kv .kv-container .catch_copy-outer .catch_copy br {
  display: block;
}
@media (min-width: 600px) {
  #top #bg-container #kv .kv-container .catch_copy-outer .catch_copy br {
    display: none;
  }
}
#top #bg-container #kv .kv-container .kv-inner {
  position: relative;
  margin-top: 50vw;
  padding-bottom: 4vw;
  width: 100%;
  text-align: center;
  font-size: 4.5vw;
  line-height: 1.3;
}
@media (min-width: 500px) {
  #top #bg-container #kv .kv-container .kv-inner {
    margin-top: 40vw;
  }
}
@media (min-width: 600px) {
  #top #bg-container #kv .kv-container .kv-inner {
    margin-top: 22vw;
    font-size: 1.6rem;
  }
}
@media (min-width: 786px) {
  #top #bg-container #kv .kv-container .kv-inner {
    margin-top: 20vw;
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  #top #bg-container #kv .kv-container .kv-inner {
    margin-top: 140px;
    font-size: 2rem;
    padding-bottom: 1vw;
  }
}
#top #bg-container #kv .kv-container .kv-inner span {
  color: #D95B0D;
  font-size: 4.5vw;
}
@media (min-width: 500px) {
  #top #bg-container #kv .kv-container .kv-inner span {
    font-size: 1.6rem;
  }
}
@media (min-width: 786px) {
  #top #bg-container #kv .kv-container .kv-inner span {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  #top #bg-container #kv .kv-container .kv-inner span {
    font-size: 2rem;
  }
}
#top #bg-container .cc-img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 660px;
  z-index: 4;
}
@media (min-width: 600px) {
  #top #bg-container .cc-img {
    max-width: 540px;
  }
}
@media (min-width: 786px) {
  #top #bg-container .cc-img {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  #top #bg-container .cc-img {
    max-width: 800px;
  }
}
#top #bg-container .cc-img::before, #top #bg-container .cc-img::after {
  content: "";
  position: absolute;
  top: -6vw;
}
#top #bg-container .cc-img::before {
  background-image: url(../images/top_pouple01.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: 2%;
  width: 120px;
  height: 100px;
}
@media (min-width: 500px) {
  #top #bg-container .cc-img::before {
    width: 140px;
    height: 120px;
    top: -6vw;
  }
}
@media (min-width: 600px) {
  #top #bg-container .cc-img::before {
    width: 160px;
    height: 140px;
    top: -4vw;
  }
}
@media (min-width: 768px) {
  #top #bg-container .cc-img::before {
    width: 180px;
    height: 140px;
    top: -4vw;
  }
}
@media (min-width: 1024px) {
  #top #bg-container .cc-img::before {
    width: 200px;
    height: 180px;
    top: -8vw;
  }
}
#top #bg-container .cc-img::after {
  background-image: url(../images/top_pouple02.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
  width: 120px;
  height: 100px;
}
@media (min-width: 500px) {
  #top #bg-container .cc-img::after {
    width: 140px;
    height: 110px;
    top: -6vw;
  }
}
@media (min-width: 600px) {
  #top #bg-container .cc-img::after {
    width: 160px;
    height: 130px;
    top: -4vw;
  }
}
@media (min-width: 768px) {
  #top #bg-container .cc-img::after {
    width: 180px;
    height: 150px;
    top: -4vw;
  }
}
@media (min-width: 1024px) {
  #top #bg-container .cc-img::after {
    width: 200px;
    height: 170px;
    top: -8vw;
  }
}
#top #news {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 16px;
  background: var(--color-yellow);
}
#top #news .news-container {
  width: 100%;
  padding: 0 3rem;
  margin-top: 20px;
}
#top #news .news-container .news-outer {
  margin: 0 auto 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (min-width: 500px) {
  #top #news .news-container .news-outer {
    gap: 4rem;
  }
}
@media (min-width: 786px) {
  #top #news .news-container .news-outer {
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  #top #news .news-container .news-outer {
    gap: 4rem;
  }
}
#top #news .news-container .news-outer a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 350px) {
  #top #news .news-container .news-outer a:nth-child(n+3) {
    display: none;
  }
}
@media (min-width: 350px) and (max-width: 785px) {
  #top #news .news-container .news-outer a:nth-child(n+3) {
    display: none;
  }
}
@media (min-width: 786px) and (max-width: 1024px) {
  #top #news .news-container .news-outer a:nth-child(4) {
    display: none !important;
  }
}
#top #news .news-container .news-outer a .news-brock {
  width: 100%;
  max-width: 160px;
}
@media (min-width: 600px) {
  #top #news .news-container .news-outer a .news-brock {
    max-width: 200px;
  }
}
#top #news .news-container .news-outer a .news-brock .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
@media (min-width: 420px) {
  #top #news .news-container .news-outer a .news-brock .date {
    margin-top: 8px;
  }
}
#top #news .news-container .news-outer a .news-brock .date span {
  font-size: 0.875rem;
  letter-spacing: 2px;
}
@media (min-width: 600px) {
  #top #news .news-container .news-outer a .news-brock .date span {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  #top #news .news-container .news-outer a .news-brock .date span {
    font-size: 1.125rem;
  }
}
#top #news .news-container .news-outer a .news-brock .date p {
  padding: 0 10px;
  display: inline-block;
  font-size: 0.875rem;
  color: white;
  background: #D17E36;
  border-radius: 4px;
}
@media (min-width: 600px) {
  #top #news .news-container .news-outer a .news-brock .date p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  #top #news .news-container .news-outer a .news-brock .date p {
    font-size: 1.125rem;
  }
}
#top #news .news-container .news-outer a .news-brock .news-title {
  overflow: hidden;
  height: 2.2em;
  font-size: 1rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (min-width: 600px) {
  #top #news .news-container .news-outer a .news-brock .news-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  #top #news .news-container .news-outer a .news-brock .news-title {
    font-size: 1.25rem;
  }
}
#top #news .news-container .news-outer a .news-brock .news-text {
  overflow: hidden;
  height: 3em;
  margin-top: 8px;
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (min-width: 600px) {
  #top #news .news-container .news-outer a .news-brock .news-text {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  #top #news .news-container .news-outer a .news-brock .news-text {
    font-size: 1.125rem;
    height: 3.375em;
  }
}
#top #service {
  margin: 0 auto;
  padding-bottom: 40px;
  background: #DAE8C0;
}
#top #service .service-container {
  width: 100%;
  padding: 0 1rem;
  margin: 60px auto 0;
}
#top #service .service-container .service-outer {
  margin: 20px auto 0;
  max-width: 440px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (min-width: 786px) {
  #top #service .service-container .service-outer {
    max-width: 780px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  #top #service .service-container .service-outer {
    max-width: 880px;
    grid-template-columns: 1fr 1fr 1.1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
#top #service .service-container .service-outer .service-block {
  width: 100%;
  text-align: center;
}
#top #service .service-container .service-outer .service-block .top-logo-img {
  width: 100px;
}
#top #service .service-container .service-outer .service-block p {
  font-size: 1rem;
}
@media (min-width: 600px) {
  #top #service .service-container .service-outer .service-block p {
    font-size: 1.125rem;
    line-height: 1.3;
  }
}
@media (min-width: 1024px) {
  #top #service .service-container .service-outer .service-block p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

/* ===============================================
# page
=============================================== */
#plus {
  padding-top: 80px;
  background: #F8F8EC;
  /* ========事業所方針======= */
  /* ========1日のスケジュール======= */
  /* ========ご利用の流れ======= */
  /* =======アドレス======= */
}
#plus .service-head {
  margin: 0 auto 12px;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  font-size: 1.5rem;
  border-radius: 24px;
}
#plus #plus-top .plus-container {
  margin: 0 auto;
  padding-bottom: 12px;
  width: 100%;
}
@media (min-width: 376px) {
  #plus #plus-top .plus-container {
    max-width: 500px;
  }
}
@media (min-width: 500px) {
  #plus #plus-top .plus-container {
    max-width: 600px;
  }
}
@media (min-width: 785px) {
  #plus #plus-top .plus-container {
    max-width: 1000px;
  }
}
#plus #plus-top .plus-container .plus-frame {
  margin: 0 auto;
  margin-bottom: 100px;
  width: calc(100% - 24px);
  position: relative;
}
#plus #plus-top .plus-container .plus-frame img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#plus #plus-top .plus-container .plus-frame .cc-plus {
  padding: 12px 28px;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 24px;
  background: #85D136;
}
@media (min-width: 500px) {
  #plus #plus-top .plus-container .plus-frame .cc-plus {
    top: 92%;
    left: 20%;
    padding: 18px 28px;
  }
}
#plus #plus-top .plus-container .plus-frame .cc-plus p {
  font-size: 1.125em;
  color: #fff;
}
@media (min-width: 600px) {
  #plus #plus-top .plus-container .plus-2nd {
    padding-top: 0;
  }
}
#plus #policy {
  background: #F8E2CF;
}
#plus #policy .policy-container {
  margin: 0 auto;
  padding: 12px 0 20px;
  width: 100%;
}
#plus #policy .policy-container .policy-outer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 376px) {
  #plus #policy .policy-container .policy-outer {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
  }
}
#plus #policy .policy-container .policy-outer .policy-brock {
  max-width: 240px;
  height: auto;
}
#plus #schedule {
  background: #F8E7ED;
}
#plus #schedule .timeline-container {
  margin: 0 auto;
  padding: 12px 0 20px;
  width: 100%;
  max-width: 600px;
}
#plus #schedule .timeline-container .timeline {
  margin-left: 50px;
  padding-top: 20px;
  position: relative;
  border-left: 2px solid #ED83A6;
}
#plus #schedule .timeline-container .timeline .timeline-brock {
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
#plus #schedule .timeline-container .timeline .timeline-brock::before {
  content: "";
  position: absolute;
  left: -21px;
  top: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  border-radius: 50%;
}
#plus #schedule .timeline-container .timeline .timeline-brock:nth-child(1)::before {
  background-image: url("../images/icon/9000.svg");
}
#plus #schedule .timeline-container .timeline .timeline-brock:nth-child(2)::before {
  background-image: url("../images/icon/1000.svg");
}
#plus #schedule .timeline-container .timeline .timeline-brock:nth-child(3)::before {
  background-image: url("../images/icon/1200.svg");
}
#plus #schedule .timeline-container .timeline .timeline-brock:nth-child(4)::before {
  background-image: url("../images/icon/1300.svg");
}
#plus #schedule .timeline-container .timeline .timeline-brock:nth-child(5)::before {
  background-image: url("../images/icon/1500.svg");
}
#plus #schedule .timeline-container .timeline .timeline-brock .time {
  padding-bottom: 2px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-bottom: 2px dotted #ED83A6;
  width: -moz-fit-content;
  width: fit-content;
}
#plus #schedule .timeline-container .timeline .timeline-brock img {
  margin: 0 auto;
  display: block;
  padding-top: 8px;
  max-width: 240px;
  height: auto;
}
#plus #schedule .timeline-container .timeline .timeline-brock .timeline-text {
  padding: 12px 20px 4px;
  line-height: 1.5;
}
#plus #flow {
  background: #D3E5F4;
}
#plus #flow .flow-container {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 520px;
}
@media (min-width: 1024px) {
  #plus #flow .flow-container {
    max-width: 1100px;
  }
}
#plus #flow .flow-container .flow-outer {
  margin: 20px auto 30px;
  padding: 0 20px 0 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  #plus #flow .flow-container .flow-outer {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }
}
@media (min-width: 1240px) {
  #plus #flow .flow-container .flow-outer {
    gap: 20px;
  }
}
#plus #flow .flow-container .flow-outer .flow-brock {
  display: flex;
  width: 100%;
  position: relative;
}
@media (min-width: 1024px) {
  #plus #flow .flow-container .flow-outer .flow-brock {
    width: 25%;
    max-width: 260px;
    flex: 1;
  }
}
#plus #flow .flow-container .flow-outer .flow-brock .step-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -28px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
@media (min-width: 1024px) {
  #plus #flow .flow-container .flow-outer .flow-brock .step-icon {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card {
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 20px 20px 20px 48px;
  box-shadow: 2px 4px 4px 0 #cbcbcb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  #plus #flow .flow-container .flow-outer .flow-brock .flow-card {
    padding: 64px 20px 20px 20px;
    justify-content: start;
  }
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card .flow-title {
  font-size: 1.5rem;
  padding-bottom: 8px;
  padding-right: 16px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1024px) {
  #plus #flow .flow-container .flow-outer .flow-brock .flow-card .flow-title {
    padding-bottom: 16px;
    padding-right: 0px;
  }
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card p {
  line-height: 1.5;
  padding-left: 4px;
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card .step1 {
  color: #ACD086;
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card .step2 {
  color: #F5AC71;
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card .step3 {
  color: #F2B5C9;
}
#plus #flow .flow-container .flow-outer .flow-brock .flow-card .step4 {
  color: #93C7ED;
}
#plus #flow .flow-container .flow-2nd-outer {
  margin: 40px auto 0;
  padding: 12px 16px;
  max-width: calc(100% - 12px);
  position: relative;
  background: #E4EFF8;
  border-radius: 4px;
  box-shadow: 0 4px 10px #cbcbcb;
}
@media (min-width: 786px) {
  #plus #flow .flow-container .flow-2nd-outer {
    margin: 0 auto;
    width: 100%;
  }
}
#plus #flow .flow-container .flow-2nd-outer::after {
  content: "";
  position: absolute;
  top: -28px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-image: url("../images/icon/pin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}
#plus #flow .flow-container .flow-2nd-outer ul li {
  padding: 20px 0;
  border-bottom: 1px dashed #93C7ED;
}
#plus #flow .flow-container .flow-2nd-outer ul li:last-child {
  border-bottom: none;
}
#plus #flow .flow-container .flow-2nd-outer ul li .flow-2nd-title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  padding-bottom: 8px;
}
#plus #flow .flow-container .flow-2nd-outer ul li p {
  font-size: 1rem;
  line-height: 1.6;
}
#plus #flow .flow-container .flow-2nd-outer ul li span {
  display: block;
  font-size: 0.875rem;
  margin-top: 4px;
}
#plus #flow .flow-container .flow-contact {
  margin: 0 auto;
  width: 100%;
  max-width: 440px;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer {
  margin: 20px;
  background: #fff;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 3px 4px 0 0 #93C7ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 8px;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer .disc {
  font-size: 1rem;
  padding-bottom: 8px;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer .flow-contact-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer .flow-contact-inner .tell {
  display: flex;
  justify-content: center;
  gap: 4px;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer .flow-contact-inner .tell .tell-number {
  font-size: 1.375rem;
}
#plus #flow .flow-container .flow-contact .flow-contact-outer .flow-contact-inner span {
  display: block;
  font-size: 0.875rem;
  padding-bottom: 8px;
}
#plus #address {
  background: #F7EDA0;
}
#plus #address .address-container {
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
#plus #address .address-container .address-outer {
  padding: 8px 20px;
  margin: 0 auto;
  width: 100%;
}
#plus #address .address-container .address-outer ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #B44906;
}
#plus #address .address-container .address-outer ul li div {
  width: 100px;
}
#plus #address .address-container .address-outer ul li p {
  width: 250px;
}
#plus #address .map {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9のアスペクト比 */
  height: 0;
}
#plus #address .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#plus #address .access {
  padding: 8px 20px;
}
#plus #address .access .access-title {
  font-size: 1.25rem;
  padding-bottom: 8px;
  border-bottom: 1px solid #B44906;
}
#plus #address .access .access-brock .access-tool {
  margin: 8px;
  padding-bottom: 12px;
  border-bottom: 1px dashed #B44906;
}
#plus #address .access .access-brock .access-01 {
  padding: 4px 0;
}
#plus #address .access .access-brock .access-02 {
  padding: 4px 0 4px 1rem;
}
#plus #address .access .access-brock .access-03 {
  padding: 0px 0 4px 1.75rem;
}
#plus #address .access .access-brock .access-03 p {
  padding-top: 8px;
}
#plus #address .access .access-brock .access-03 p span {
  border-bottom: 1px solid #E8BF33;
}
#plus #address .access .access-car {
  padding-top: 12px;
}

/* ===============================================
# 投稿記事ページ
=============================================== */
/* ===============================================
# parts
=============================================== */
/* ===============================================
# header
=============================================== */
header {
  width: 100%;
  min-height: 72px;
  padding: 8px 20px;
  top: 0;
  background-color: #F8F8EC;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.3s ease;
  overflow: visible;
}

/* =======JSヘッダースクロール固定====== */
header.header-sticky {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15) !important;
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin-inline: auto;
  /* ========ハンバーガーボタン======= */
}
.header-container .hamburger-btn {
  width: 40px;
  height: auto;
  margin-top: 12px;
  z-index: 1000;
  cursor: pointer;
  position: relative;
  display: none;
}
@media screen and (max-width: 800px) {
  .header-container .hamburger-btn {
    display: block;
  }
}
.header-container .hamburger-btn span {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #B44906;
  transition: ease 0.4s;
  display: block;
  translate: 0 -8px;
}
.header-container .hamburger-btn span:nth-child(1) {
  top: 0;
}
.header-container .hamburger-btn span:nth-child(2) {
  margin: 8px 0;
}
.header-container .hamburger-btn p {
  font-size: 0.9rem;
  position: absolute;
  bottom: -12px;
  transition: opacity 0.4s;
}
.header-container h1 img {
  display: block;
  width: 150px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .header_nav__pc {
    display: none;
  }
}
.header_nav__pc ul {
  display: flex;
  gap: 60px;
}
.header_nav__pc ul li {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: relative;
  padding: 1rem 0;
  font-size: 1.5rem;
  z-index: 1;
}
.header_nav__pc ul li .service {
  position: relative;
}
.header_nav__pc ul li .service:hover .service__items {
  visibility: visible;
  opacity: 1;
}
.header_nav__pc ul li .service__items {
  position: absolute;
  width: 180px;
  background: #F8F8EC;
  text-align: left;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.header_nav__pc ul li .service__items a span {
  display: block;
  font-size: 12px;
}
@media (min-width: 600px) {
  .header_nav__pc ul li {
    font-size: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .header_nav__pc ul li {
    font-size: 2rem;
  }
}
.header_nav__pc ul li.background_circle--01::before {
  background: #ACD086;
}
.header_nav__pc ul li.background_circle--02::before {
  background: #F5AC71;
}
.header_nav__pc ul li.background_circle--03::before {
  background: #F2B5C9;
}
.header_nav__pc ul li.background_circle::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  mask-image: url(../images/svg/h2-bg.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 70% auto;
  -webkit-mask-image: url(../images/svg/h2-bg.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 70% auto;
}

/* =======ハンバーガーメニュー====== */
.header_nav__sp {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin-top: 72px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 9999;
  display: none;
  background-color: #F8F8EC;
  padding: 20px 40px;
  font-size: 1rem;
  /* =======ハンバーガーメニューアクティブ====== */
}
@media screen and (max-width: 800px) {
  .header_nav__sp {
    display: block;
  }
}
.header_nav__sp.active {
  transform: translateX(0);
  opacity: 1;
}
.header_nav__sp ul {
  max-width: 540px;
  margin: 0 auto;
  /* ======アコーディオンメニュー====== */
}
.header_nav__sp ul li {
  padding: 4px 0;
  border-bottom: 1px solid #B44906;
}
.header_nav__sp ul li a {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav__sp ul li a .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
.header_nav__sp ul li a .arrow::before,
.header_nav__sp ul li a .arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #B44906;
  transform-origin: calc(100% - 0.5px) 50%;
}
.header_nav__sp ul li a .arrow::before {
  transform: rotate(45deg);
}
.header_nav__sp ul li a .arrow::after {
  transform: rotate(-45deg);
}
.header_nav__sp ul li a .plus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
.header_nav__sp ul li a .plus::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #B44906;
  transform: translateX(-50%);
  transform: rotate(90deg);
}
.header_nav__sp ul .btn-accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav__sp ul .btn-accordion .accordion-head {
  margin: 8px 0;
  display: block;
  cursor: pointer;
}
.header_nav__sp ul .btn-accordion .plus {
  display: block;
  position: relative;
  width: 18px;
  /* アイコンの幅 */
  height: 18px;
  /* アイコンの高さ */
}
.header_nav__sp ul .btn-accordion .plus::before, .header_nav__sp ul .btn-accordion .plus::after {
  content: "";
  position: absolute;
  background-color: #B44906;
  /* 文字と同じ色にする */
  top: 50%;
  left: 50%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.header_nav__sp ul .btn-accordion .plus::before {
  width: 100%;
  height: 1px;
  transform: translate(-50%, -50%);
}
.header_nav__sp ul .btn-accordion .plus::after {
  width: 1px;
  height: 100%;
  transform: translate(-50%, -50%);
}
.header_nav__sp ul .btn-accordion.is-open .plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
}
.header_nav__sp ul .accordion-body {
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.header_nav__sp ul .accordion-body a {
  display: block;
  padding: 2px 0;
  cursor: pointer;
}
.header_nav__sp ul .accordion-body.is-open {
  margin-top: 8px;
  min-height: 120px;
  opacity: 1;
}
.header_nav__sp ul .inst {
  margin: 18px 0 8px;
  width: 20px;
}
.header_nav__sp ul .sub-menu span {
  font-size: 0.875rem;
}

/* =======ハンバーガーボタンアクティブ====== */
.hamburger-btn.active span:nth-child(1) {
  top: 0px;
  margin: 8px 0;
  rotate: 45deg;
  translate: 0;
}

.hamburger-btn.active span:nth-child(2) {
  top: -10px;
  margin: 8px 0;
  rotate: -45deg;
  translate: 0;
}

.hamburger-btn.active p {
  opacity: 0;
}

/* ===============================================
# footer footer
=============================================== */
footer {
  margin: 0 auto;
  padding-top: 40px;
  min-width: 350px;
  background: #F8F8EC;
  position: relative;
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url(../images/footer_pc.png);
  background-size: contain;
  padding-bottom: 20px;
  padding-bottom: 20vw;
}
@media screen and (max-width: 800px) {
  footer {
    background-image: url(../images/footer_sp.png);
    background-size: 400px 140px;
    padding-bottom: 120px;
  }
}
footer .footer-container {
  padding: 0 3rem 32px;
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  /* ========footer-menu======= */
}
@media screen and (max-width: 800px) {
  footer .footer-container {
    max-width: 700px;
    display: block;
  }
}
footer .footer-container h1 {
  width: 240px;
  height: auto;
  margin-bottom: 1.6rem;
}
footer .footer-container .address {
  font-size: 1.125em;
  margin-bottom: 1.3em;
}
footer .footer-container .address p {
  line-height: 1.5;
}
footer .footer-container .footer_nav__pc {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 800px) {
  footer .footer-container .footer_nav__pc {
    display: none;
  }
}
footer .footer-container .footer_nav__pc .service-items ul li {
  margin-bottom: 6px;
}
footer .footer-container .footer_nav__pc .service-items ul li a {
  align-items: center;
  display: flex;
  gap: 12px;
}
footer .footer-container .footer_nav__pc .service-items ul li a::before {
  content: "";
  display: block;
  width: 6px;
  border-top: 2px solid #ACD086;
}
footer .footer-container .footer_nav__pc .service-items ul li a span {
  font-size: 12px;
}
footer .footer-container .footer_nav__pc .list-style {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
footer .footer-container .footer_nav__pc .list-style::before {
  height: 0;
  display: block;
  content: "";
  border-width: 8px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #ACD086;
}
footer .footer-container .footer_nav__pc .instagram {
  width: 28px;
}
footer .footer-container .footer_nav__sp {
  display: none;
}
@media screen and (max-width: 800px) {
  footer .footer-container .footer_nav__sp {
    display: block;
  }
}
footer .footer-container .footer_nav__sp ul {
  max-width: 540px;
  font-size: 1rem;
  /* ======アコーディオンメニュー====== */
}
footer .footer-container .footer_nav__sp ul li {
  padding: 4px 0;
  border-bottom: 1px solid #B44906;
}
footer .footer-container .footer_nav__sp ul li a {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .footer_nav__sp ul li a .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
footer .footer-container .footer_nav__sp ul li a .arrow::before,
footer .footer-container .footer_nav__sp ul li a .arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #B44906;
  transform-origin: calc(100% - 0.5px) 50%;
}
footer .footer-container .footer_nav__sp ul li a .arrow::before {
  transform: rotate(45deg);
}
footer .footer-container .footer_nav__sp ul li a .arrow::after {
  transform: rotate(-45deg);
}
footer .footer-container .footer_nav__sp ul .btn-accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-container .footer_nav__sp ul .btn-accordion .accordion-head {
  margin: 8px 0;
  display: block;
  cursor: pointer;
}
footer .footer-container .footer_nav__sp ul .btn-accordion .plus {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
}
footer .footer-container .footer_nav__sp ul .btn-accordion .plus::before, footer .footer-container .footer_nav__sp ul .btn-accordion .plus::after {
  content: "";
  position: absolute;
  background-color: #B44906;
  top: 50%;
  left: 50%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
footer .footer-container .footer_nav__sp ul .btn-accordion .plus::before {
  width: 100%;
  height: 1px;
  transform: translate(-50%, -50%);
}
footer .footer-container .footer_nav__sp ul .btn-accordion .plus::after {
  width: 1px;
  height: 100%;
  transform: translate(-50%, -50%);
}
footer .footer-container .footer_nav__sp ul .btn-accordion.is-open .plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0;
}
footer .footer-container .footer_nav__sp ul .accordion-body {
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
footer .footer-container .footer_nav__sp ul .accordion-body a {
  display: block;
  padding: 2px 0;
  cursor: pointer;
}
footer .footer-container .footer_nav__sp ul .accordion-body.is-open {
  margin-top: 8px;
  min-height: 120px;
  opacity: 1;
}
footer .footer-container .footer_nav__sp ul .inst {
  margin: 18px 0 8px;
  width: 20px;
}
footer .footer-container .footer_nav__sp ul .sub-menu span {
  font-size: 0.875rem;
}
footer small {
  position: absolute;
  bottom: 20px;
  left: 50%;
  translate: -50% 0;
}

/* ===============================================
# footer footer-top
=============================================== */
#footer_top {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  /* ========topに戻るボタン======= */
}
#footer_top.bg-pink {
  background: var(--color-pink);
}
#footer_top.bg-yellow {
  background: var(--color-yellow);
}
#footer_top .footer_top-container {
  margin: 60px auto 0;
  max-width: 600px;
}
#footer_top .footer_top-container .bg-img {
  margin: 1rem;
  padding: 1rem 0.75rem;
  background-image: url(../images/bg-footer-top.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#footer_top .footer_top-container .bg-img .footer_top-outer {
  text-align: center;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer_top .footer_top-container .bg-img .footer_top-outer .contact-text {
  font-size: 1.375rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .contact-text {
    font-size: 1.6rem;
    padding-bottom: 1.175rem;
  }
}
@media (min-width: 1024px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .contact-text {
    font-size: 1.8rem;
  }
}
#footer_top .footer_top-container .bg-img .footer_top-outer p {
  font-size: 1rem;
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer p {
    font-size: 1.3rem;
    padding-bottom: 4px;
  }
}
@media (min-width: 1024px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer p {
    font-size: 1.5rem;
    padding-bottom: 6px;
  }
}
#footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
@media (min-width: 600px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner {
    max-width: 560px;
    gap: 8px;
  }
}
@media (min-width: 786px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner {
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner {
    gap: 32px;
    max-width: 800px;
  }
}
#footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
#footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block p {
  font-size: 1.5rem;
  margin-bottom: 6px;
}
@media (min-width: 600px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block p {
    font-size: 1.7rem;
    letter-spacing: 2px;
  }
}
@media (min-width: 1024px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block p {
    font-size: 2rem;
  }
}
#footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block span {
  font-size: 0.875em;
}
@media (min-width: 600px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block span {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  #footer_top .footer_top-container .bg-img .footer_top-outer .footer_top-inner .footer_top-block span {
    font-size: 1.175rem;
  }
}
#footer_top #back-btn-containar #back-page-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  /* フッターに到達した時にJSでこのクラスをつける */
}
#footer_top #back-btn-containar #back-page-top.is-show {
  opacity: 1;
  visibility: visible;
}
#footer_top #back-btn-containar #back-page-top.is-stopped {
  position: absolute;
  bottom: 20px; /* #footer_topの最下部からの距離 */
  top: auto;
  right: 20px;
}
#footer_top #back-btn-containar #back-page-top .btn-top {
  display: block;
  position: relative;
  margin-left: auto;
  margin-bottom: -8px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #B44906;
  border: 1px solid #FEFBF3;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
@media (min-width: 600px) {
  #footer_top #back-btn-containar #back-page-top .btn-top {
    margin-right: 1rem;
    margin-bottom: -1rem;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1240px) {
  #footer_top #back-btn-containar #back-page-top .btn-top {
    margin-right: 1rem;
    margin-bottom: -2rem;
  }
}
#footer_top #back-btn-containar #back-page-top .btn-top::before {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-left: 2px solid #FEFBF3;
  border-top: 2px solid #FEFBF3;
  border-radius: 2px;
  transform: translate(-50%, -25%) rotate(45deg);
  transition: border-color 0.2s ease;
}
#footer_top #back-btn-containar #back-page-top .btn-top:hover {
  transform: translateY(4px);
  transition: transform 0.2s ease;
}
#footer_top #back-btn-containar #back-page-top .btn-top:active {
  background: #FEFBF3;
  border-color: #B44906;
}
#footer_top #back-btn-containar #back-page-top .btn-top:active::before {
  border-color: #B44906;
}

.wave-footer {
  background: #F8F8EC;
}

/* ===============================================
# ボタン
=============================================== */
/* ===============================================
# ボタン
=============================================== */
.btn {
  position: relative;
  margin: 0 auto;
  max-width: 160px;
  height: auto;
  padding: 4px 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  background: #FEFBF3;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #B44906;
  box-shadow: 4px 4px 0 0 #B44906;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover {
  box-shadow: 0 0 0 0 #B44906;
  transform: translate(4px, 4px);
}
.btn:active {
  background: #B44906;
  color: #FEFBF3;
}
.btn .btn-circle {
  position: absolute;
  right: 8px;
  width: 16px;
  height: 16px;
  background: #B44906;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn .btn-circle::after {
  content: "";
  width: 4px;
  height: 4px;
  border-top: 1px solid #FEFBF3;
  border-right: 1px solid #FEFBF3;
  transform: rotate(45deg);
  margin-right: 3px;
}
@media (min-width: 600px) {
  .btn {
    font-size: 1.125rem;
    max-width: 180px;
  }
}
@media (min-width: 1024px) {
  .btn {
    font-size: 1.3rem;
    max-width: 200px;
  }
}

.contact {
  max-width: 180px;
  padding-left: 1rem;
}
.contact .mail-icon {
  display: block;
  width: 24px;
  margin-right: 2px;
  margin-top: 1px;
}
.contact span {
  margin-left: 6px;
  margin-top: 1px;
}
@media (min-width: 600px) {
  .contact {
    max-width: 200px;
  }
}
@media (min-width: 1024px) {
  .contact {
    max-width: 240px;
  }
}/*# sourceMappingURL=style.css.map */