@charset "UTF-8";
/* ===============================================
# global
=============================================== */
/* ===============================================
# フォントのCDN
=============================================== */
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
/* ===============================================
# 関数
=============================================== */
/* ===============================================
# 変数
=============================================== */
:root {
  --font-size12: 0.75rem;
  --font-size16: 1rem;
  --font-size18: 1.125rem;
  --font-size20: 1.25rem;
  --font-size22: 1.375rem;
  --font-size24: 1.5rem;
  --font-size28: 1.75rem;
  --font-size30: 1.875rem;
  --font-size32: 2rem;
  --font-size36: 2.25rem;
  --font-size50: 3.125rem;
}

:root {
  --color-white: #fff;
  --color-black: #151515;
  --color-gray: #cbcbcb;
  --color-gray-bg: #ebebe3;
  --color-red: #890000;
  --color-pink: #F8E7ED;
  --color-orange: #F8E2CF;
  --color-yellow: #F7EDA0;
  --color-green: #DAE8C0;
  --color-green-hover: #9cdb8e;
  --color-brown-bg:#e0d6ca;
  --color-link:#0000ee;
  --color-link-visited:#551a8b;
}

/* ===============================================
# ミックスイン
=============================================== */
/* ===============================================
# common
=============================================== */
/* ===============================================
# 共通ベース
=============================================== */
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Zen Maru Gothic", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #F8F8EC;
  color: #B44906;
}

h1, h2, h3, p, a {
  color: #B44906;
  line-height: 1.6;
}

h2 {
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 3rem;
}

.svg-outer {
  line-height: 0;
  font-size: 0;
}

.bg-top.bg-under {
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
  margin-bottom: 0;
}

.wave-yellow {
  fill: var(--color-yellow) !important;
}

.wave-green {
  fill: var(--color-green) !important;
}

.wave-pink {
  fill: var(--color-pink) !important;
}

/* ===============================================
# アニメーション
=============================================== */
@keyframes open_menu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.key-open_menu {
  animation-name: open_menu;
}

.anime {
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.anime.loop {
  animation-iteration-count: infinite;
}
.anime.delay-1s {
  animation-delay: 1s;
}
.anime.delay-2s {
  animation-delay: 2s;
}
.anime.delay-3s {
  animation-delay: 3s;
}
.anime.delay-4s {
  animation-delay: 4s;
}
.anime.delay-5s {
  animation-delay: 5s;
}
.anime.fast {
  animation-duration: 500ms;
}
.anime.slow-2s {
  animation-duration: 2s;
}
.anime.slow-10s {
  animation-duration: 10s;
}
.anime.slow-20s {
  animation-duration: 20s;
}
.anime.ease-in {
  animation-timing-function: ease-in;
}
.anime.ease-out {
  animation-timing-function: ease-out;
}

/* ===============================================
# hover
=============================================== */
/* ===============================================
# page
=============================================== */
/* ===============================================
# topページ
=============================================== */
main {
  padding: 70px 0 40px;
  /* ========topのお知らせ======= */
  /* ========topの事業内容======= */
}
main #kv {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  position: relative;
}
main #kv .kv-container .kv-frame {
  margin: 0 auto;
  width: calc(100% - 24px);
}
main #kv .kv-container .kv-frame img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
main #kv .kv-container .catch_copy-outer {
  padding: 0 2px;
  position: absolute;
  top: 230px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #kv .kv-container .catch_copy-outer .catch_copy {
  background: #FEFBF3;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  box-shadow: 2px 3px 0 0 #9C7F4D;
}
main #kv .kv-container .catch_copy-outer .catch_copy p {
  padding: 4px 1.5rem;
  font-size: 1rem;
  line-height: 1.4rem;
}
main #kv .kv-container .catch_copy-outer .catch_copy:nth-child(odd) {
  align-self: flex-start;
}
main #kv .kv-container .catch_copy-outer .catch_copy:nth-child(even) {
  align-self: flex-end;
}
main #kv .kv-container .kv-inner {
  margin: 200px 0 80px;
  text-align: center;
  font-size: 1.375rem;
}
main #kv .kv-container .kv-inner span {
  color: #D95B0D;
  font-size: 1.375rem;
}
main #news {
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 0;
  background: var(--color-yellow);
}
main #news .news-container {
  width: 100%;
  padding: 0 3rem;
  margin-top: 20px;
}
main #news .news-container .news-outer {
  margin: 0 auto 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
main #news .news-container .news-outer .news-brock {
  width: 100%;
}
main #news .news-container .news-outer .news-brock .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
main #news .news-container .news-outer .news-brock .date span {
  font-size: 0.875rem;
  letter-spacing: 2px;
}
main #news .news-container .news-outer .news-brock .date p {
  padding: 0 10px;
  display: inline-block;
  font-size: 0.875rem;
  color: white;
  background: #D17E36;
  border-radius: 4px;
}
main #news .news-container .news-outer .news-brock .news-title {
  overflow: hidden;
  height: 2.2em;
  font-size: 1rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
main #news .news-container .news-outer .news-brock .news-text {
  margin-top: 8px;
  font-size: 0.875rem;
}
main #service {
  margin: 0 auto;
  padding-bottom: 40px;
  background: #DAE8C0;
}
main #service .service-container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
main #service .service-container .service-outer {
  margin: 20px auto 0;
  max-width: 440px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
main #service .service-container .service-outer .service-block {
  width: 100%;
  text-align: center;
}
main #service .service-container .service-outer .service-block .top-logo-img {
  width: 100px;
}
main #service .service-container .service-outer .service-block p {
  font-size: 1rem;
}

/* ===============================================
# 投稿記事ページ
=============================================== */
/* ===============================================
# parts
=============================================== */
/* ===============================================
# header
=============================================== */
header {
  width: 100%;
  height: 72px;
  padding: 12px;
  background-color: #F8F8EC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* =======ヘッダーメニュー====== */
}
header .header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ========ハンバーガーボタン======= */
}
header .header-container h1 img {
  display: block;
  width: 150px;
  height: auto;
}
header .header-container .hamburger-btn {
  width: 40px;
  height: auto;
  margin-top: 8px;
  z-index: 999;
  cursor: pointer;
}
header .header-container .hamburger-btn span {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #B44906;
  transition: ease 0.4s;
  display: block;
}
header .header-container .hamburger-btn span:nth-child(1) {
  top: 0;
}
header .header-container .hamburger-btn span:nth-child(2) {
  margin: 8px 0 2px;
}
header .header-container .hamburger-btn p {
  font-size: 0.9rem;
}
header nav {
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #F8F8EC;
  transition: ease 0.4s;
}
header nav ul {
  padding: 20px 40px;
  font-size: 1rem;
  /* ======アコーディオンメニュー====== */
}
header nav ul li {
  padding: 4px 0;
  border-bottom: 1px solid #B44906;
}
header nav ul li a {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li a .arrow {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
header nav ul li a .arrow::before,
header nav ul li a .arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #B44906;
  transform-origin: calc(100% - 0.5px) 50%;
}
header nav ul li a .arrow::before {
  transform: rotate(45deg);
}
header nav ul li a .arrow::after {
  transform: rotate(-45deg);
}
header nav ul li a .plus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin: 6.4px 0;
  background-color: #B44906;
}
header nav ul li a .plus::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #B44906;
  transform: translateX(-50%);
  transform: rotate(90deg);
}
header nav ul .accordion-menu {
  padding: 8px;
}
header nav ul .accordion-menu a {
  display: block;
  padding: 2px 0;
  cursor: pointer;
}
header nav ul a {
  display: block;
  padding: 2px 0;
  cursor: pointer;
}
header nav ul a img {
  width: 24px;
  margin: 20px 0;
}
header nav ul a span {
  font-size: 0.875rem;
}
header nav .inst {
  width: 22px;
  height: auto;
}

/* =======ハンバーガーボタンアクティブ====== */
.hamburger-btn.active span:nth-child(1) {
  top: 0px;
  margin: 8px 0;
  transform: rotate(45deg);
}

.hamburger-btn.active span:nth-child(2) {
  top: -10px;
  margin: 8px 0;
  transform: rotate(-45deg);
}

.hamburger-btn.active p {
  opacity: 0;
}

/* =======ヘッダーメニューアクティブ====== */
.header-nav.active {
  transform: translateX(0);
}

/* ===============================================
# footer
=============================================== */
#footer_top {
  background: var(--color-pink);
  padding-bottom: 20px;
  /* ========topに戻るボタン======= */
}
#footer_top .footer_top-container {
  margin: 0 1rem 20px;
  padding: 1rem;
  background-image: url(../images/bg-footer-top.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#footer_top .footer_top-container .footer_top-outer {
  text-align: center;
}
#footer_top .footer_top-container .footer_top-outer h4 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}
#footer_top .footer_top-container .footer_top-outer p {
  font-size: 1.125rem;
  margin-bottom: 12px;
}
#footer_top .footer_top-container .footer_top-outer .footer_top-inner {
  margin: 0 auto;
  max-width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
#footer_top .footer_top-container .footer_top-outer .footer_top-inner .footer_top-block {
  display: block;
  width: 50%;
}
#footer_top .footer_top-container .footer_top-outer .footer_top-inner .footer_top-block p {
  font-size: 1.5rem;
}
#footer_top .footer_top-container .footer_top-outer .footer_top-inner .footer_top-block span {
  font-size: 0.875em;
}
#footer_top #page_top {
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #B44906;
  border: 1px solid #B44906;
  z-index: 2;
}
#footer_top #page_top::before {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-radius: 2px;
  transform: translate(-50%, -25%) rotate(45deg);
}

/* ========footer======= */
footer {
  margin: 0 auto;
  min-width: 380px;
}
footer .footer-container {
  padding: 0 3rem;
}
footer .footer-container h1 {
  width: 240px;
  height: auto;
  margin-bottom: 1.6rem;
}
footer .footer-container .address {
  font-size: 1.125em;
  margin-bottom: 1.3em;
}
footer .footer-container .address p {
  line-height: 1.5;
}

/* ===============================================
# ボタン
=============================================== */
/* ===============================================
# ボタン
=============================================== */
.btn {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 2rem;
  background: #FEFBF3;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #B44906;
  box-shadow: 2px 3px 0 0 #B44906;
}
.btn .btn-circle {
  position: absolute;
  right: 8px;
  width: 16px;
  height: 16px;
  background: #B44906;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn .btn-circle::after {
  content: "";
  width: 4px;
  height: 4px;
  border-top: 1px solid #FEFBF3;
  border-right: 1px solid #FEFBF3;
  transform: rotate(45deg);
  margin-right: 3px;
}
.btn:hover {
  --tw-translate-y: 5px;
  --tw-translate-x: 5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: var(--mainColor);
  --tw-text-opacity: 1;
  color: rgb(255, 255, 255, var(--tw-text-opacity));
  box-shadow: 0 0 0 var(--mainColor);
}

.contact {
  width: 180px;
  padding-left: 1rem;
}
.contact .mail-icon {
  display: block;
  width: 24px;
  margin-right: 4px;
}
.contact span {
  margin-left: 8px;
}/*# sourceMappingURL=style.css.map */