@use "../global" as *;
/* ===============================================
# 共通ベース
=============================================== */
*{
  box-sizing: border-box;
  font-size: $font-size-normal;
  font-family: $font-zenmaru;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;

  background: $bg-main;
  color: $text;
}

h1,h2,h3,p,a{
  color:$text;
  line-height: 1.6;
}

h2 {
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 1.3rem;
}

a{
  text-decoration:none;
  display: block;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}