@use "../global" as *;
/* ===============================================
# 共通ベース
=============================================== */
*{
  box-sizing: border-box;
  font-size: $font-size-normal;
  font-family: $font-zenmaru;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  min-width:375px;
  width: 100%;
  height: 100%;
  color: $text;
}

h1,h2,h3,p,a{
  color:$text;
  line-height: 1.6;
}

a{
  text-decoration:none;
  display: inline-block;
}

img{
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}