@use "../global" as *;
/* ===============================================
# 共通ベース
=============================================== */
* {
  box-sizing: border-box;
  font-size: $font-size-normal;
  font-family: $font-zenmaru;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  // background: $bg-main;
  color: $text;
}

h1,
h2,
h3,
p,
a {
  color: $text;
  line-height: 1.6;
}

h2 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;

  position: relative; 
  padding: 1rem 0;
  font-size: 1.5rem;
  z-index: 1;
  
  @media (min-width: 600px) {
    font-size: 1.75rem;
  }
  @media (min-width: 1024px) {
    font-size: 2rem;
  }


  // 背景svg
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    mask-image: url(../images/svg/h2-bg.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 70% auto;

    -webkit-mask-image: url(../images/svg/h2-bg.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 70% auto;
  }
}
// h2

.h2-01::before {
  background-color: $green-3nd; //緑
}
.h2-02::before {
  background-color: $orange-3nd; //オレンジ
}
.h2-03::before {
  background-color: $pink-3nd; //ピンク
}

h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  /* --- ボタンの初期リセット --- */
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  /* -------------------------- */
}
