.container {
  width: 100%;
  padding: 0 3rem;
}


.svg-outer {
  line-height: 0;
  font-size: 0;
}
  
  .bg-top.bg-under {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
    margin-bottom: 0;

    // position: absolute;
    // top: -10px;
    // left: 50%;
    // transform: translateX(-50%);

  }

    .wave-yellow {
      fill: var(--color-yellow) !important;
    }

    .wave-green {
      fill: var(--color-green) !important;
    }

    .wave-pink {
      fill: var(--color-pink) !important;
    }

    
