@use "../global" as *;

.container {
  width: 100%;
  padding: 0 3rem;
}

.svg-outer {
  line-height: 0;
  font-size: 0;
}

.bg-top.bg-under {
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
  margin-bottom: 0;
}


/* ========ウェーブライン======= */

.wave-top {
  width: 100%;
  height: 40px;

  -webkit-mask-image: url("../images/svg/wave-top-sp.svg");
  mask-image: url("../images/svg/wave-top-sp.svg");

  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;

  -webkit-mask-position: center top;
  mask-position: center top;

  -webkit-mask-size: 786px auto;
  mask-size: 786px auto;

  @media (min-width: 600px) {
    // background-image: url("../images/svg/wave-top-pc.svg");
    height: 100px;
    -webkit-mask-size: 1920px auto;
    mask-size: 1920px auto;
  }
}

.wave-bottom {
  width: 100%;
  height: 40px;

  -webkit-mask-image: url("../images/svg/wave-under-sp.svg");
  mask-image: url("../images/svg/wave-under-sp.svg");

  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;

  -webkit-mask-position: center bottom;
  mask-position: center bottom;

  -webkit-mask-size: 786px auto;
  mask-size: 786px auto;

  @media (min-width: 600px) {
    // background-image: url("../images/svg/wave-under-pc.svg");
    height: 100px;
    -webkit-mask-size: 1920px auto;
    mask-size: 1920px auto;
  }
}

.wave-yellow {
  background-color: var(--color-yellow);
}

.wave-green {
  background-color: var(--color-green);
}

.wave-pink {
  background-color: var(--color-pink);
}

.wave-orange {
  background-color: var(--color-orange);
}

.wave-blue {
  background-color: var(--color-blue);
}

/* ========背景色======= */

.bg-green {
  background: $green;
  width: 100%;
}

.bg-blue {
  background: $blue;
  width: 100%;
}

.bg-pink {
  background: $pink;
  width: 100%;
}

.bg-orange {
  background: $orange;
  width: 100%;
}

.bg-yellow {
  background: $yellow;
  width: 100%;
}

/* ========背景色2nd======= */

.bg-green-2nd {
  background: $green-2nd;
  width: 100%;
}

.bg-blue-2nd {
  background: $blue-2nd;
  width: 100%;
}

.bg-pink-2nd {
  background: $pink-2nd;
}

.bg-orange-2nd {
  background: $orange-2nd;
  width: 100%;
}

.bg-yellow-2nd {
  background: $yellow-2nd;
  width: 100%;
}

/* ========背景色3rd======= */

.bg-green-3rd {
  background: $green-3rd;
  width: 100%;
}

.bg-blue-3rd {
  background: $blue-3rd;
  width: 100%;
}

.bg-pink-3rd {
  background: $pink-3rd;
}

.bg-orange-3rd {
  background: $orange-3rd;
  width: 100%;
}

.bg-yellow-3rd {
  background: $yellow-3rd;
  width: 100%;
}


/* ========背景色4th======= */

.bg-green-4th {
  background: $green-4th;
  width: 100%;
}

.bg-blue-4th {
  background: $blue-4th;
  width: 100%;
}

.bg-pink-4th {
  background: $pink-4th;
}

.bg-orange-4th {
  background: $orange-4th;
  width: 100%;
}

.bg-yellow-4th {
  background: $yellow-4th;
  width: 100%;
}