.container {
  width: 100%;
  padding: 0 3rem;
}


.svg-outer {
  line-height: 0;
  font-size: 0;
}

.bg-top.bg-under {
  display: block;
  width: 100%;
  height: auto;
  z-index: -1;
  margin-bottom: 0;

}

.wave-yellow {
  fill: var(--color-yellow) ;
}

.wave-green {
  fill: var(--color-green) ;
}

.wave-pink {
  fill: var(--color-pink) ;
}

.wave-orange {
  fill: var(--color-orange);
}

.wave-blue {
  fill: var(--color-blue) ;
}


/* ========事業内容見出し======= */

.survice-head {
  margin: 0 auto 16px;
  padding: 6px 16px;
  width: fit-content;
  text-align: center;
  line-height: 1.2;
  background: white;
  border-radius: 50px;
}

/* ========事業内容2ndコピー======= */

.cc-2nd-outer {
  margin: 0 auto;
  padding-top: 20px;

  .cc-2nd-inner {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 600px) {
      flex-direction: row;
    }

    @media (min-width:600px) {
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    img {
      display: block;
      width: 300px;
      height: auto;
    }

    .cc-2nd-text {


      p {
        padding: 0 54px;
        align-self: start;

        @media (min-width: 600px) {
          padding: 20px 8px 0;
        }
      }

      // p


      @media (min-width: 600px) {
        padding-top: 1rem;
      }
    }

  }

  // .cc-2nd-inner

}

// .cc-2nd-outer